nodered.JSON
[{"id":"fbf4ad90.13a6b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4270665.cda4f98","type":"tab","label":"user login","disabled":false,"info":""},{"id":"f30f6888.ef099","type":"tab","label":"get user(not described in api specification)","disabled":false,"info":""},{"id":"be4d7b92.7c8ab8","type":"tab","label":"get pharmacy","disabled":false,"info":""},{"id":"5949f87.9086208","type":"tab","label":"get hospital","disabled":false,"info":""},{"id":"6933888e.becf18","type":"tab","label":"get clinic","disabled":false,"info":""},{"id":"a50ae9b3.db2c78","type":"tab","label":"get articles","disabled":false,"info":""},{"id":"81b6d283.cad1f8","type":"tab","label":"getDiagnosis","disabled":false,"info":""},{"id":"f9992a80.e82128","type":"tab","label":"getDiet","disabled":false,"info":""},{"id":"412f96f0.f640f","type":"tab","label":"Post user","disabled":false,"info":""},{"id":"847dfe23.00be08","type":"tab","label":"post apointment clinic","disabled":false,"info":""},{"id":"cc1cea02.597c18","type":"tab","label":"Doctor post apointment","disabled":false,"info":""},{"id":"b63e9356.bec038","type":"tab","label":"Find Doctors by city","disabled":false,"info":""},{"id":"14b36864.3f82c","type":"tab","label":"search","disabled":false,"info":""},{"id":"27b78a6f.cd3a96","type":"tab","label":"Log out","disabled":false,"info":""},{"id":"e8114728.03a9f8","type":"tab","label":"find products","disabled":false,"info":""},{"id":"25b696ae.8d1f5a","type":"tab","label":"radar","disabled":false,"info":""},{"id":"ae28b0e1.1dba3","type":"mongodb","hostname":"127.0.0.1","port":"1880","db":"mongodb","name":""},{"id":"d7076ecd.2d769","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"dbf1411b.5e38b8","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"85bdf197.470718","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"7ee80c25.465944","type":"mongodb3","uri":"mongodb+srv://paok:paok@cluster0-kbokr.mongodb.net/Cluster0?retryWrites=true&w=majority","name":"Cluster0","options":"","parallelism":"-1"},{"id":"ec98b536.1c4ac8","type":"mongodb3","uri":"mongodb+srv://paok:paok@cluster0-kbokr.mongodb.net/test?retryWrites=true&w=majority","name":"Cluster0","options":"","parallelism":"-1"},{"id":"c44775b7.3e8aa8","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"3e52f25f.dced56","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"e341b47f.2e0f48","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"d4722167.09dea","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"87df9aed.dc54d8","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"3556e6fb.be4772","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"b17c613d.8e8468","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"e96d5e2e.fd9e3","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"eb5c44f0.a331e8","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"3569787c.454868","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"bf0c0188.4abc9","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"b2ca341e.dcb528","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"62620c13.8f6adc","type":"mongodb3","uri":"mongodb+srv://iason123:iason123@cluster0-cylgp.mongodb.net/emed?retryWrites=true&w=majority","name":"emed","options":"","parallelism":"-1"},{"id":"228a40b0.87b65","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"student","tz":"","charset":"UTF8"},{"id":"265d4df2.0425d2","type":"http in","z":"4270665.cda4f98","name":"","url":"/user/loginform","method":"get","upload":false,"swaggerDoc":"","x":230,"y":360,"wires":[["8eea7a94.2f7b8","26e63593.01604a"]]},{"id":"b1f5425a.523f88","type":"http response","z":"4270665.cda4f98","name":"show creation website","statusCode":"","headers":{},"x":740,"y":280,"wires":[]},{"id":"fae3496.fb05938","type":"http in","z":"4270665.cda4f98","name":"","url":"/user/login/","method":"get","upload":false,"swaggerDoc":"","x":200,"y":540,"wires":[["10a363f2.85b77c"]]},{"id":"d6521365.c1a0b8","type":"http response","z":"4270665.cda4f98","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":920,"y":520,"wires":[]},{"id":"10a363f2.85b77c","type":"change","z":"4270665.cda4f98","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":540,"wires":[["e70ebf52.eb519"]]},{"id":"e70ebf52.eb519","type":"join","z":"4270665.cda4f98","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":600,"y":540,"wires":[["7dc7ee1c.d3407","7bbb5c9c.52a644"]]},{"id":"d927a7db.f05a18","type":"change","z":"4270665.cda4f98","name":"Change database to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":440,"wires":[["e70ebf52.eb519"]]},{"id":"7dc7ee1c.d3407","type":"function","z":"4270665.cda4f98","name":"Find_user","func":"{\nvar i=0;\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].username === table2.Username )\n            {\n            \n            if(table[i].password == table2.password )\n            a={\n                userID:     table[i].userID,\n                username:   table[i].username,\n                password:   table[i].password,\n                email:      table[i].email,\n                IsVulnerable:table[i].IsVulnerable,\n                Longitude:  table[i].Longitude,\n                Latitude:   table[i].Latitude,\n                UserCity:   table[i].UserCity\n                \n                }\n            msg.payload=a;\n            }\n            \n            \n            \n          \n        }\n            \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["d6521365.c1a0b8"]]},{"id":"b2c781ef.935ba8","type":"comment","z":"4270665.cda4f98","name":"extract path parameters and conver to JSONata","info":"","x":300,"y":600,"wires":[]},{"id":"42fc056d.3324a4","type":"comment","z":"4270665.cda4f98","name":"!!<FOR TESTING>>!! OPEN HERE","info":"FIRST GO TO POST user flow and register\nthen log in with your credentials\nat http://localhost:1880/user/loginform","x":340,"y":180,"wires":[]},{"id":"26e63593.01604a","type":"template","z":"4270665.cda4f98","name":"LoginGui","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\nform {border: 20px solid #f1f1f1;}\n\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 10px 5px;\n  margin:28px 0%; /*this is half of width of your div*/\n  display: block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0%;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n}\n\nimg.avatar {\n    \n  width: 10%;\n  border-radius: 10%;\n}\n\n.container {\n  padding: 30px;\n  margin: 8px 40%;\n    \n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n}\n</style>\n</head>\n<body>\n\n<h2>   e-Med</h2>\n\n\n    <div class=\"imgcontainer\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n\n    </div>\n<form id = \"your_form\" onsubmit=\"yourFunction()\">  \n    <div class=\"container\">\n    <label for=\"Username\"><b>Username</b></label>\n    <input type=\"text\" placeholder=\"Enter Username\" name=\"Username\" required>\n\n    <label for=\"password\"><b>password</b></label>\n    <input type=\"password\" placeholder=\"Enter Password\" name=\"password\" required>\n\n    \n  </div>\n    \n    <button type=\"submit\">Login</button>\n\n\n</form>\n<script>\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/\" + document.getElementsByName(\"Username\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n\n</script>\n</body>\n</html>\n","output":"str","x":460,"y":280,"wires":[["b1f5425a.523f88"]],"icon":"node-red/white-globe.svg"},{"id":"7bbb5c9c.52a644","type":"debug","z":"4270665.cda4f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":620,"wires":[]},{"id":"a0a89f8d.cd8f3","type":"http in","z":"f30f6888.ef099","name":"","url":"/user","method":"get","upload":false,"swaggerDoc":"","x":140,"y":280,"wires":[["fa5404fc.c1bf88","e1afa8fc.29cfe"]]},{"id":"d3ebb9d3.3bbad","type":"http response","z":"f30f6888.ef099","name":"show creation website","statusCode":"","headers":{},"x":760,"y":180,"wires":[]},{"id":"3d59910d.45e086","type":"http in","z":"f30f6888.ef099","name":"","url":"/user/:username","method":"get","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["e034491c.453ad"]]},{"id":"c67f128f.49e7b8","type":"http response","z":"f30f6888.ef099","name":"Print_Json_File","statusCode":"","headers":{"content-type":"application/json"},"x":1060,"y":300,"wires":[]},{"id":"1bea645.7179a9c","type":"change","z":"f30f6888.ef099","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[["fd26619c.440f5"]]},{"id":"fd26619c.440f5","type":"join","z":"f30f6888.ef099","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":680,"y":460,"wires":[["e6c70d34.16a71"]]},{"id":"d9967822.8b57","type":"change","z":"f30f6888.ef099","name":"Change database to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":360,"wires":[["fd26619c.440f5"]]},{"id":"e6c70d34.16a71","type":"function","z":"f30f6888.ef099","name":"Find_user","func":"{\nvar i=0;\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].username === table2.Username)\n            {\n            a={\n                userID:     table[i].userID,\n                username:   table[i].username,\n                password:   table[i].password,\n                email:      table[i].email,\n                IsVulnerable:table[i].IsVulnerable,\n                Longitude:  table[i].Longitude,\n                Latitude:   table[i].Latitude,\n                UserCity:   table[i].UserCity\n\n                }\n            msg.payload=a;\n            }\n          \n        }\n            \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":460,"wires":[["c67f128f.49e7b8","7dc36a17.79fb14"]]},{"id":"3b456f3d.730df8","type":"comment","z":"f30f6888.ef099","name":"concatenate  both inputs to one array","info":"","x":680,"y":520,"wires":[]},{"id":"3e4a5077.1231f8","type":"comment","z":"f30f6888.ef099","name":"the trigger http","info":"","x":130,"y":340,"wires":[]},{"id":"e1afa8fc.29cfe","type":"template","z":"f30f6888.ef099","name":"SearcchUserGui","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\nform {border: 20px solid #f1f1f1;}\n\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 10px 5px;\n  margin:28px 0%; /*this is half of width of your div*/\n  display: block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0%;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n}\n\nimg.avatar {\n    \n  width: 10%;\n  border-radius: 10%;\n}\n\n.container {\n  padding: 30px;\n  margin: 8px 40%;\n    \n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n}\n</style>\n</head>\n<body>\n\n<h2>   e-Med</h2>\n\n\n    <div class=\"imgcontainer\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n    <label for=\"Username\"><b>Username</b></label>\n    <input type=\"text\" placeholder=\"Enter Username\" name=\"Username\" required>\n\n    \n \n<form id = \"your_form\" onsubmit=\"yourFunction()\">          \n    <button type=\"submit\">Search</button>\n\n\n</form>\n</div> \n<script>\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/\" + document.getElementsByName(\"Username\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n\n</script>\n</body>\n</html>\n","output":"str","x":420,"y":200,"wires":[["d3ebb9d3.3bbad"]],"icon":"node-red/white-globe.svg"},{"id":"e034491c.453ad","type":"template","z":"f30f6888.ef099","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"Username\":\"{{req.params.username}}\"\n                    }","output":"json","x":270,"y":580,"wires":[["1bea645.7179a9c"]]},{"id":"7dc36a17.79fb14","type":"debug","z":"f30f6888.ef099","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":500,"wires":[]},{"id":"c7cd438.ef4fe4","type":"http in","z":"be4d7b92.7c8ab8","name":"","url":"/user/:username/pharmacy","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["6b93e354.733dd4","56751847.7c6f7"]]},{"id":"5c1d2949.1bef1","type":"http response","z":"be4d7b92.7c8ab8","name":"show creation website","statusCode":"","headers":{},"x":660,"y":160,"wires":[]},{"id":"82bf7c64.e0a278","type":"http in","z":"be4d7b92.7c8ab8","name":"","url":"/user/:username/pharmacy/:pharmacyCity","method":"get","upload":false,"swaggerDoc":"","x":240,"y":480,"wires":[["fe65cced.bb2448"]]},{"id":"60486308.2c1f64","type":"http response","z":"be4d7b92.7c8ab8","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":860,"y":460,"wires":[]},{"id":"ecf86acf.8f0338","type":"change","z":"be4d7b92.7c8ab8","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":540,"wires":[["10cde110.71e3ef"]]},{"id":"10cde110.71e3ef","type":"join","z":"be4d7b92.7c8ab8","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":700,"y":540,"wires":[["e3813d09.8f1338"]]},{"id":"7cefd029.22744","type":"change","z":"be4d7b92.7c8ab8","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["10cde110.71e3ef"]]},{"id":"e3813d09.8f1338","type":"function","z":"be4d7b92.7c8ab8","name":"Select_Pharmacies","func":"{\nvar i=0;\nvar b=[];\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].PharmacyCity === table2.city)\n            {\n            a={\n                PharmacyAdress:       table[i].PharmacyAdress,\n                PharmacyName:       table[i].PharmacyName,\n                PharmacyPhoneNumber: table[i].PharmacyPhoneNumber,\n                Longitude:   table[i].Longitude,\n                Latitude:       table[i].Latitude,\n                PharmacyCity:   table[i].PharmacyCity,\n                Schedule:       table[i].Schedule,\n                PharmacyID:     table[i].PharmacyID,\n                IsOpen:         table[i].IsOpen\n                }\n            b.push(a);\n            msg.payload=b;\n            }\n          \n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":540,"wires":[["60486308.2c1f64","7cbfa14e.743298"]]},{"id":"7cbfa14e.743298","type":"debug","z":"be4d7b92.7c8ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":380,"wires":[]},{"id":"d808471.e5260b8","type":"comment","z":"be4d7b92.7c8ab8","name":"Controller function","info":"","x":890,"y":580,"wires":[]},{"id":"295e69a5.8e79d6","type":"comment","z":"be4d7b92.7c8ab8","name":"TO TEST GO TO:\"http://localhost:1880/user/maria/pharmacy\"","info":"έχουμε για αρχικό site :\nhttp://localhost:1880/user/{username}/pharmacy\n\nοπότε:\nhttp://localhost:1880/user/maria/pharmacy\nhttp://localhost:1880/user/George/pharmacy\n \n κ.τ.λ.π","x":480,"y":40,"wires":[],"icon":"node-red/cog.svg"},{"id":"56751847.7c6f7","type":"template","z":"be4d7b92.7c8ab8","name":"Homepage-Pharmacies","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n\n</style>\n</head>\n<body>\n    \n    <div class=\"navbar\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    <a href=\"\">e-Med</a>\n    </div>\n   \n        \n<!--surround the select box with a \"custom-select\" DIV element. Remember to set the width:-->\n    <div class=\"header\">\n    <h2>Find pharmacies in your city:</h2>\n    </div>\n    <div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"city\" id=\"Pharmacy-city\">\n    <option value=\"0\">Select City:</option>\n    <option value=\"Athens\">Athens</option>\n    <option value=\"Thessaloniki\">Thessaloniki</option>\n    <option value=\"Patra\">Patra</option>\n    <option value=\"Kavala\">Kavala</option>\n    <option value=\"Kozani\">Kozani</option>\n    <option value=\"Kastoria\">Kastoria</option>\n    <option value=\"Ptolemaida\">Ptolemaida</option>\n    <option value=\"Edessa\">Edessa</option>\n    <option value=\"Xanthi\">Xanthi</option>\n    <option value=\"Larisa\">Larisa</option>\n    <option value=\"Lamia\">Lamia</option>\n    <option value=\"Volos\">Volos</option>\n    </select>\n      \n</div>\n   <form id = \"your_form\" onsubmit=\"yourFunction()\">\n    <button type=\"submit\">Search</button> \n    \n    \n</form>\n\n\n\n\n\n\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/\" + document.getElementsByName(\"city\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n\n/*if the user clicks anywhere outside the select box,\nthen close all select boxes:*/\ndocument.addEventListener(\"click\", closeAllSelect);\n\n</script>\n\n</body>\n</html>\n","output":"str","x":430,"y":160,"wires":[["5c1d2949.1bef1"]],"icon":"node-red/white-globe.svg"},{"id":"fe65cced.bb2448","type":"template","z":"be4d7b92.7c8ab8","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"city\":\"{{req.params.pharmacyCity}}\"\n                    }","output":"json","x":510,"y":440,"wires":[["ecf86acf.8f0338"]]},{"id":"8be654bf.a9ca98","type":"comment","z":"be4d7b92.7c8ab8","name":"convert databases output to JSONata","info":"","x":630,"y":300,"wires":[]},{"id":"25ef358e.18fc9a","type":"comment","z":"be4d7b92.7c8ab8","name":"extract path parameters and convert to JSONata","info":"","x":420,"y":620,"wires":[]},{"id":"f9e9bf17.16f69","type":"comment","z":"be4d7b92.7c8ab8","name":"ena arxeio me html/css to opoo einai upeu8uno gia to gui kai to redirect sto parakatw site","info":"","x":550,"y":100,"wires":[]},{"id":"b703c4c.0dc51b8","type":"comment","z":"be4d7b92.7c8ab8","name":"pharmacy database","info":"","x":330,"y":280,"wires":[]},{"id":"5b16a8fb.38fad8","type":"comment","z":"be4d7b92.7c8ab8","name":"JSON Response","info":"","x":920,"y":420,"wires":[]},{"id":"639bca9b.2c29a4","type":"comment","z":"be4d7b92.7c8ab8","name":"concatenate both inputs to one array","info":"","x":780,"y":660,"wires":[]},{"id":"858e8e3e.00386","type":"http in","z":"5949f87.9086208","name":"","url":"/user/:username/hospital","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["c42600eb.4a3b7","df3b2b0a.2198c"]]},{"id":"6dbed00b.5e94c8","type":"http response","z":"5949f87.9086208","name":"show creation website","statusCode":"","headers":{},"x":660,"y":140,"wires":[]},{"id":"3afb5bde.20682c","type":"http in","z":"5949f87.9086208","name":"","url":"/user/:username/hospital/:HospitalCity","method":"get","upload":false,"swaggerDoc":"","x":180,"y":500,"wires":[["9735aa31.5d9a98"]]},{"id":"fb46d35b.7fad3","type":"http response","z":"5949f87.9086208","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":920,"y":360,"wires":[]},{"id":"ca361351.a004f8","type":"change","z":"5949f87.9086208","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":520,"wires":[["7c364c14.42406c"]]},{"id":"7c364c14.42406c","type":"join","z":"5949f87.9086208","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":460,"wires":[["7408cd3a.bd8f34"]]},{"id":"ad09500.6de4a3","type":"change","z":"5949f87.9086208","name":"Change db to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":220,"wires":[["7c364c14.42406c"]]},{"id":"7408cd3a.bd8f34","type":"function","z":"5949f87.9086208","name":"Select_Hospital","func":"{\nvar i=0;\nvar b=[];\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].HospitalCity === table2.city)\n            {\n            a={\n                HospitalID:     table[i].PharmacyID,\n                HospitalCity:   table[i].HospitalCity,\n                HospitalAdress:       table[i].HospitalAdress,\n                HospitalName:       table[i].HospitalName,\n                HospitalPhoneNumber: table[i].HospitalPhoneNumber,\n                Longitude:   table[i].Longitude,\n                Latitude:       table[i].Latitude,\n                IsOpen:         table[i].IsOpen\n                }\n\n            b.push(a);\n            msg.payload=b;\n            }\n          \n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":460,"wires":[["fb46d35b.7fad3","ea568bd4.530aa"]]},{"id":"ea568bd4.530aa","type":"debug","z":"5949f87.9086208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":560,"wires":[]},{"id":"400bcc0d.992ec4","type":"comment","z":"5949f87.9086208","name":"!!<FOR TESTING>>!! OPEN HERE","info":"Type this\nhttp://localhost:1880/user/maria/hospital\nand choose one of athens, thessaloniki","x":240,"y":40,"wires":[]},{"id":"df3b2b0a.2198c","type":"template","z":"5949f87.9086208","name":"Homepage-Hospitals","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n\n</style>\n</head>\n<body>\n    \n    <div class=\"navbar\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    <a href=\"\">e-Med</a>\n    </div>\n    \n   \n<!--surround the select box with a \"custom-select\" DIV element. Remember to set the width:-->\n    <div class=\"header\">\n    <h2>Find Hospitals in the city:</h2>\n    </div>\n    <div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"city\" id=\"Pharmacy-city\">\n    <option value=\"0\">Select City:</option>\n    <option value=\"Athens\">Athens</option>\n    <option value=\"Thessaloniki\">Thessaloniki</option>\n    <option value=\"Patra\">Patra</option>\n    <option value=\"Kavala\">Kavala</option>\n    <option value=\"Kozani\">Kozani</option>\n    <option value=\"Kastoria\">Kastoria</option>\n    <option value=\"Ptolemaida\">Ptolemaida</option>\n    <option value=\"Edessa\">Edessa</option>\n    <option value=\"Xanthi\">Xanthi</option>\n    <option value=\"Larisa\">Larisa</option>\n    <option value=\"Lamia\">Lamia</option>\n    <option value=\"Volos\">Volos</option>\n    </select>\n      \n</div>\n<form id = \"your_form\" onsubmit=\"yourFunction()\">\n    <button type=\"submit\">Search</button> \n       \n    </form>\n\n\n\n\n\n\n\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/\" + document.getElementsByName(\"city\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n/*if the user clicks anywhere outside the select box,\nthen close all select boxes:*/\ndocument.addEventListener(\"click\", closeAllSelect);\n</script>\n\n</body>\n</html>\n","output":"str","x":420,"y":140,"wires":[["6dbed00b.5e94c8"]],"icon":"node-red/white-globe.svg"},{"id":"9735aa31.5d9a98","type":"template","z":"5949f87.9086208","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"city\":\"{{req.params.HospitalCity}}\"\n                    }","output":"json","x":310,"y":600,"wires":[["ca361351.a004f8"]]},{"id":"4474c9d2.2c8f78","type":"http in","z":"6933888e.becf18","name":"","url":"/user/:username/clinic","method":"get","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["26398e94.d1024a","62230284.03d9dc"]]},{"id":"9261d81a.551a8","type":"http response","z":"6933888e.becf18","name":"show creation website","statusCode":"","headers":{},"x":580,"y":200,"wires":[]},{"id":"e7530c8b.6d941","type":"http in","z":"6933888e.becf18","name":"","url":"/user/:username/clinic/:ClinicCity","method":"get","upload":false,"swaggerDoc":"","x":170,"y":500,"wires":[["1b70cd37.78b083"]]},{"id":"51f56952.a24f","type":"http response","z":"6933888e.becf18","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":900,"y":460,"wires":[]},{"id":"a2b38817.238f3","type":"change","z":"6933888e.becf18","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":560,"wires":[["e5fedf05.722d4"]]},{"id":"e5fedf05.722d4","type":"join","z":"6933888e.becf18","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":560,"wires":[["e257ab1a.28aa"]]},{"id":"49750c49.137584","type":"change","z":"6933888e.becf18","name":"Change db to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":320,"wires":[["e5fedf05.722d4"]]},{"id":"e257ab1a.28aa","type":"function","z":"6933888e.becf18","name":"Select_clinic","func":"{\nvar i=0;\nvar b=[];\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].ClinicCity === table2.city)\n            {\n             a={              \n                ClinicID:       table[i].ClinicID,\n                ClinicName:     table[i].ClinicName,\n                ClinicAdress:   table[i].ClinicAdress,\n                Longitude:      table[i].Longitude,\n                Latitude:       table[i].Latitude,\n                ClinicCity:     table[i].ClinicCity,\n                ClinicSchedule: table[i].ClinicSchedule\n             }\n            b.push(a);\n            msg.payload=b;\n            }\n          \n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":560,"wires":[["51f56952.a24f","5beb3d4a.acf144"]]},{"id":"5beb3d4a.acf144","type":"debug","z":"6933888e.becf18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":700,"wires":[]},{"id":"a375594c.baf638","type":"comment","z":"6933888e.becf18","name":"concatenate inputs to one array","info":"","x":590,"y":640,"wires":[]},{"id":"eb309e35.638228","type":"comment","z":"6933888e.becf18","name":"!!<FOR TESTING>>!! OPEN HERE","info":"Type this\nhttp://localhost:1880/user/maria/clinic\nand then select athens or thessaloniki","x":400,"y":160,"wires":[]},{"id":"62230284.03d9dc","type":"template","z":"6933888e.becf18","name":"Homepage-Clinics","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n</style>\n</head>\n<body>\n    \n    <div class=\"navbar\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    <a href=\"\">e-Med</a>\n    </div>\n    \n    \n<!--surround the select box with a \"custom-select\" DIV element. Remember to set the width:-->\n    <div class=\"header\">\n    <h2>Find Clinics in the city:</h2>\n    </div>\n    <div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"city\" id=\"Pharmacy-city\">\n    <option value=\"0\">Select City:</option>\n    <option value=\"Athens\">Athens</option>\n    <option value=\"Thessaloniki\">Thessaloniki</option>\n    <option value=\"Patra\">Patra</option>\n    <option value=\"Kavala\">Kavala</option>\n    <option value=\"Kozani\">Kozani</option>\n    <option value=\"Kastoria\">Kastoria</option>\n    <option value=\"Ptolemaida\">Ptolemaida</option>\n    <option value=\"Edessa\">Edessa</option>\n    <option value=\"Xanthi\">Xanthi</option>\n    <option value=\"Larisa\">Larisa</option>\n    <option value=\"Lamia\">Lamia</option>\n    <option value=\"Volos\">Volos</option>\n    </select>\n      \n</div>\n<form id = \"your_form\" onsubmit=\"yourFunction()\">\n    <button type=\"submit\">Search</button> \n       \n    </form>\n\n\n\n\n\n\n\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/\" + document.getElementsByName(\"city\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n/*if the user clicks anywhere outside the select box,\nthen close all select boxes:*/\ndocument.addEventListener(\"click\", closeAllSelect);\n</script>\n\n</body>\n</html>\n","output":"str","x":370,"y":200,"wires":[["9261d81a.551a8"]],"icon":"node-red/white-globe.svg"},{"id":"1b70cd37.78b083","type":"template","z":"6933888e.becf18","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"city\":\"{{req.params.ClinicCity}}\"\n                    }","output":"json","x":250,"y":620,"wires":[["a2b38817.238f3"]]},{"id":"fbad817b.d429e","type":"http in","z":"a50ae9b3.db2c78","name":"","url":"/user/:username/article","method":"get","upload":false,"swaggerDoc":"","x":200,"y":360,"wires":[["f394fd8c.2ed5e8","9a35f883.93ab08"]]},{"id":"3b54f4a4.a7f544","type":"http response","z":"a50ae9b3.db2c78","name":"show creation website","statusCode":"","headers":{},"x":880,"y":340,"wires":[]},{"id":"6a31e5a8.4b0dcc","type":"http in","z":"a50ae9b3.db2c78","name":"","url":"/user/:username/article/:articleId","method":"get","upload":false,"swaggerDoc":"","x":140,"y":600,"wires":[["c73a9f54.9a6cd8"]]},{"id":"aacf97a9.9a0098","type":"http response","z":"a50ae9b3.db2c78","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":980,"y":540,"wires":[]},{"id":"43278770.b287a8","type":"change","z":"a50ae9b3.db2c78","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":600,"wires":[["6aa4902f.fd7e78"]]},{"id":"6aa4902f.fd7e78","type":"join","z":"a50ae9b3.db2c78","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":720,"y":620,"wires":[["eab4613e.ae2f9"]]},{"id":"4c2a8a7f.2ca32c","type":"change","z":"a50ae9b3.db2c78","name":"Change db to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["6aa4902f.fd7e78"]]},{"id":"eab4613e.ae2f9","type":"function","z":"a50ae9b3.db2c78","name":"Select_article","func":"{\nvar i=0;\nvar b=[];\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].ArticleID == table2.Id)\n            {\n            a={\n                ArticleID:      table[i].ArticleID,\n                ArticleTitle:   table[i].ArticleTitle,\n                ArticleSubtitle:table[i].ArticleSubtitle,\n                ArticleContent: table[i].ArticleContent\n\n                }\n\n            \n            msg.payload=a;\n            }\n          \n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":620,"wires":[["aacf97a9.9a0098","5bf9cc41.1f13d4"]]},{"id":"5bf9cc41.1f13d4","type":"debug","z":"a50ae9b3.db2c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"apotelesma","targetType":"msg","x":940,"y":740,"wires":[]},{"id":"da625ac.67fe428","type":"comment","z":"a50ae9b3.db2c78","name":"concatenate  inputs to one array","info":"","x":630,"y":660,"wires":[]},{"id":"926e5a80.c0a7f8","type":"comment","z":"a50ae9b3.db2c78","name":"!!<FOR TESTING>>!! OPEN HERE","info":"type\nhttp://localhost:1880/user/maria/article","x":600,"y":160,"wires":[]},{"id":"9a35f883.93ab08","type":"template","z":"a50ae9b3.db2c78","name":"Homepage-articles","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n</style>\n</head>\n<body>\n    \n    <div class=\"navbar\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    <a href=\"\">e-Med</a>\n    </div>\n    \n    \n<!--surround the select box with a \"custom-select\" DIV element. Remember to set the width:-->\n    <div class=\"header\">\n    <h2>Find articles by title:</h2>\n    </div>\n    <div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"Id\" id=\"Id\">\n    <option value=\"0\">Select Article Title:</option>\n    <option value=\"1000\">Latest about Covid-19</option>\n    <option value=\"1001\">Breaking about Chantavirus</option>\n    <option value=\"1002\">Cancer confrontation is going well</option>\n   \n    </select>\n      \n</div>\n    <form id = \"your_form\" onsubmit=\"yourFunction()\">\n    <button type=\"submit\">Search</button> \n       \n    </form>\n\n\n\n\n\n\n\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/\" + document.getElementsByName(\"Id\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n/*if the user clicks anywhere outside the select box,\nthen close all select boxes:*/\ndocument.addEventListener(\"click\", closeAllSelect);\n</script>\n\n</body>\n</html>\n","output":"str","x":570,"y":340,"wires":[["3b54f4a4.a7f544"]],"icon":"node-red/white-globe.svg"},{"id":"c73a9f54.9a6cd8","type":"template","z":"a50ae9b3.db2c78","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"Id\":\"{{req.params.articleId}}\"\n                    }","output":"json","x":330,"y":660,"wires":[["43278770.b287a8"]]},{"id":"6c4fbbbd.35514c","type":"http in","z":"81b6d283.cad1f8","name":"","url":"/user/:username/diagnosis","method":"get","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["c51d0f12.b68e1","13080ee4.802351"]]},{"id":"cf6da897.38a8a8","type":"http response","z":"81b6d283.cad1f8","name":"show creation website","statusCode":"","headers":{},"x":700,"y":200,"wires":[]},{"id":"21012041.e8187","type":"http in","z":"81b6d283.cad1f8","name":"","url":"/user/:username/diagnosis/symptoms","method":"get","upload":false,"swaggerDoc":"","x":180,"y":580,"wires":[["d465ffe4.a46c68"]]},{"id":"d545f40b.5addc8","type":"http response","z":"81b6d283.cad1f8","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":940,"y":500,"wires":[]},{"id":"d465ffe4.a46c68","type":"change","z":"81b6d283.cad1f8","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["f7773543.7bb3a"]]},{"id":"f7773543.7bb3a","type":"join","z":"81b6d283.cad1f8","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":580,"wires":[["232513a2.7942bc"]]},{"id":"40431822.8c329","type":"change","z":"81b6d283.cad1f8","name":"Change db to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["f7773543.7bb3a"]]},{"id":"232513a2.7942bc","type":"function","z":"81b6d283.cad1f8","name":"Calculate_Diagnosis","func":"{\nvar table2=msg.payload[1];\nvar table3=[];\n    if(table2.fever===\"on\"){\n        fever= true;\n        table3.push(fever);\n    }\n    else{\n        fever= false;\n        table3.push(fever);\n    }\n    \n    if(table2.Stomachache===\"on\"){\n        Stomachache= true;\n        table3.push(Stomachache);\n    }\n    else{\n        Stomachache= false;\n        table3.push(Stomachache);\n    }\n    if(table2.Eyeache===\"on\"){\n        Eyeache= true;\n        table3.push(Eyeache);\n    }\n    else{\n        Eyeache= false;\n        table3.push(Eyeache);\n    }\n    if(table2.Headache===\"on\"){\n        Headache= true;\n        table3.push(Headache);\n    }\n    else{\n        Headache= false;\n        table3.push(Headache);\n    }\n    if(table2.Chills===\"on\"){\n        Chills= true;\n        table3.push(Chills);\n    }\n    else{\n        Chills= false;\n        table3.push(Chills);\n    }\n    if(table2.Tired_mood===\"on\"){\n        Tired_mood= true;\n        table3.push(Tired_mood);\n    }\n    else{\n        Tired_mood= false;\n        table3.push(Tired_mood);\n    }\n    \n    \nvar i=0;\nvar b=[];\nvar a;\nvar table=msg.payload[0];\n\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        symptoms=table[i].DiagnosisSymptoms[2].SymptomExist;\n        if(symptoms[0] == table3[0] && \n        symptoms[1] == table3[1] && \n        symptoms[2] == table3[2] && \n        symptoms[3] == table3[3] && \n        symptoms[4] == table3[4] && \n        symptoms[5] == table3[5])\n            {\n             a= table[i];\n             \n            b.push(a);\n            msg.payload=b;\n            }\n          \n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":580,"wires":[["d545f40b.5addc8","85e5edb0.a86538"]]},{"id":"85e5edb0.a86538","type":"debug","z":"81b6d283.cad1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":700,"wires":[]},{"id":"7e0ccaa1.bd3234","type":"comment","z":"81b6d283.cad1f8","name":"controller function","info":"","x":740,"y":540,"wires":[]},{"id":"205f4d19.f066fa","type":"comment","z":"81b6d283.cad1f8","name":"GUI","info":"https://freedesignfile.com/upload/2015/07/Embossment-triangular-blue-background-vector-04.jpg","x":710,"y":160,"wires":[]},{"id":"13080ee4.802351","type":"template","z":"81b6d283.cad1f8","name":"Homepage-diagnosis","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n/* The container */\n.container {\n  display: block;\n  position: relative;\n  padding-left: 35px;\n  \n  margin: 10px 35%;\n  cursor: pointer;\n  font-size: 22px;\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n}\n\n/* Hide the browser's default checkbox */\n.container input {\n  position: absolute;\n  opacity: 0;\n  cursor: pointer;\n  height: 0;\n  width: 0;\n}\n\n/* Create a custom checkbox */\n.checkmark {\n  position: absolute;\n  top: 0;\n  left: 0;\n  height: 25px;\n  width: 25px;\n  background-color: #eee;\n}\n\n/* On mouse-over, add a grey background color */\n.container:hover input ~ .checkmark {\n  background-color: #ccc;\n}\n\n/* When the checkbox is checked, add a blue background */\n.container input:checked ~ .checkmark {\n  background-color: #2196F3;\n}\n\n/* Create the checkmark/indicator (hidden when not checked) */\n.checkmark:after {\n  content: \"\";\n  position: absolute;\n  display: none;\n}\n\n/* Show the checkmark when checked */\n.container input:checked ~ .checkmark:after {\n  display: block;\n}\n\n/* Style the checkmark/indicator */\n.container .checkmark:after {\n  left: 9px;\n  top: 5px;\n  width: 5px;\n  height: 10px;\n  border: solid white;\n  border-width: 0 3px 3px 0;\n  -webkit-transform: rotate(45deg);\n  -ms-transform: rotate(45deg);\n  transform: rotate(45deg);\n}\n\n</style>\n</head>\n<body>\n    \n    <div class=\"navbar\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    <a href=\"\">e-Med</a>\n    </div>\n    \n    <form id = \"your_form\" onsubmit=\"yourFunction()\">\n<!--surround the select box with a \"custom-select\" DIV element. Remember to set the width:-->\n    <div class=\"header\">\n    <h2>Check simptoms:</h2>\n    </div>\n    \n<div class=\"header\">\n\n<label class=\"container\">fever\n  <input type=\"checkbox\"  id=\"fever\" name=\"fever\" checked=\"checked\">\n  <span class=\"checkmark\"></span>\n</label>\n<label class=\"container\">Stomachache\n  <input type=\"checkbox\"  id=\"Stomachache\" name=\"Stomachache\" checked=\"checked\">\n  <span class=\"checkmark\"></span>\n</label>\n<label class=\"container\">Eyeache\n  <input type=\"checkbox\"  id=\"Eyeache\" name=\"Eyeache\" checked=\"checked\">\n  <span class=\"checkmark\"></span>\n</label>\n<label class=\"container\">Headache\n  <input type=\"checkbox\"  id=\"Headache\" name=\"Headache\" checked=\"checked\">\n  <span class=\"checkmark\"></span>\n</label>\n<label class=\"container\">Chills\n  <input type=\"checkbox\"  id=\"Chills\" name=\"Chills\" checked=\"checked\">\n  <span class=\"checkmark\"></span>\n</label>\n\n<label class=\"container\">I Feel tired\n  <input type=\"checkbox\"  id=\"Tired_mood\" name=\"Tired_mood\" checked=\"checked\">\n  <span class=\"checkmark\"></span>\n</label>\n\n\n</div>\n    <button type=\"submit\">Search</button> \n       \n    </form>\n\n\n\n\n\n\n\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/symptoms\" ;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n/*if the user clicks anywhere outside the select box,\nthen close all select boxes:*/\ndocument.addEventListener(\"click\", closeAllSelect);\n</script>\n\n</body>\n</html>\n","output":"str","x":420,"y":200,"wires":[["cf6da897.38a8a8"]],"icon":"node-red/white-globe.svg"},{"id":"44250310.69dd84","type":"http in","z":"f9992a80.e82128","name":"","url":"/user/:username/diet","method":"get","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["f75a4ad3.d889e","b94ee34.3ec242"]]},{"id":"c2822d34.9b6c48","type":"http response","z":"f9992a80.e82128","name":"show creation website","statusCode":"","headers":{},"x":680,"y":200,"wires":[]},{"id":"d64469f7.0fded","type":"http in","z":"f9992a80.e82128","name":"","url":"/user/:username/diet/:dietId","method":"get","upload":false,"swaggerDoc":"","x":150,"y":520,"wires":[["a1c32b2d.9663c"]]},{"id":"12142fb1.c30868","type":"http response","z":"f9992a80.e82128","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1020,"y":540,"wires":[]},{"id":"3783a609.aceea2","type":"change","z":"f9992a80.e82128","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":660,"wires":[["5caa198e.02f2b"]]},{"id":"5caa198e.02f2b","type":"join","z":"f9992a80.e82128","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":740,"y":660,"wires":[["f55baabb.2ed32"]]},{"id":"29164909.9df76e","type":"change","z":"f9992a80.e82128","name":"Change db to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":300,"wires":[["5caa198e.02f2b"]]},{"id":"f55baabb.2ed32","type":"function","z":"f9992a80.e82128","name":"Select_diet","func":"{\nvar i=0;\nvar b=[];\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].DietID == table2.Id)\n            {\n            a={\n                DietID:      table[i].DietID,\n                DietTitle:   table[i].DietTitle,\n                DietContent: table[i].DietContent\n\n                }\n\n            \n            msg.payload=a;\n            }\n          \n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":660,"wires":[["12142fb1.c30868","600808c9.f52c5"]]},{"id":"600808c9.f52c5","type":"debug","z":"f9992a80.e82128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":720,"wires":[]},{"id":"4dc0d447.aa6ad4","type":"comment","z":"f9992a80.e82128","name":"concatenate inputs to one array","info":"","x":730,"y":720,"wires":[]},{"id":"b94ee34.3ec242","type":"template","z":"f9992a80.e82128","name":"Homepage-Diet","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n</style>\n</head>\n<body>\n    \n    <div class=\"navbar\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    <a href=\"\">e-Med</a>\n    </div>\n    \n   \n<!--surround the select box with a \"custom-select\" DIV element. Remember to set the width:-->\n    <div class=\"header\">\n    <h2>Find Diets by title:</h2>\n    </div>\n    <div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"Id\" id=\"Id\">\n    <option value=\"0\">Select Diet Title:</option>\n    <option value=\"800\">Diet for a healthy life</option>\n    <option value=\"801\">Diet against  Osteoporosis</option>\n    <option value=\"802\">Diet for general empowerment </option>\n    <option value=\"803\">Diet for a better immune system</option>  \n    </select>\n      \n</div>\n<form id = \"your_form\" onsubmit=\"yourFunction()\">\n    <button type=\"submit\">Search</button> \n       \n    </form>\n\n\n\n\n\n\n\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/\" + document.getElementsByName(\"Id\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n/*if the user clicks anywhere outside the select box,\nthen close all select boxes:*/\ndocument.addEventListener(\"click\", closeAllSelect);\n</script>\n\n</body>\n</html>\n","output":"str","x":440,"y":200,"wires":[["c2822d34.9b6c48"]],"icon":"node-red/white-globe.svg"},{"id":"a1c32b2d.9663c","type":"template","z":"f9992a80.e82128","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"Id\":\"{{req.params.dietId}}\"\n                    }","output":"json","x":410,"y":520,"wires":[["3783a609.aceea2"]]},{"id":"dca18cc3.dc76d8","type":"http in","z":"847dfe23.00be08","name":"","url":"/user/:username/clinic/:clinicCity/setapoinment","method":"get","upload":false,"swaggerDoc":"","x":210,"y":480,"wires":[["1044793a.164a7f"]]},{"id":"9ba5722f.62e15","type":"http in","z":"847dfe23.00be08","name":"","url":"/user/:username/clinic/:clinicCity/setapoinment/clinicName/:clinicname","method":"post","upload":false,"swaggerDoc":"","x":270,"y":180,"wires":[["cd988c4c.503948","b2f1dc71.edbcf8"]]},{"id":"90da4d71.4a65b8","type":"http response","z":"847dfe23.00be08","name":"Say if appointment is set","statusCode":"200","headers":{"content-type":"text/css"},"x":910,"y":380,"wires":[]},{"id":"1044793a.164a7f","type":"template","z":"847dfe23.00be08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n</style>\n</head>\n<body>\n\n<h2>   e-Med</h2>\n\n\n    <div class=\"imgcontainer\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n    \n\n\n<div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"clinicname\" id=\"clinicname\">\n    <option value=\"\">Select ClinicName:</option>\n    <option value=\"Bioclinic\">Bioclinic</option>\n    <option value=\"Interbalkan\">Interbalkan</option>\n    </select>\n\n</div>\n<form id = \"your_form\" onsubmit=\"yourFunction()\" method=\"post\">\n<div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"day\" id=\"day\">\n    <option value=\"NoDay\">Select Day:</option>\n    <option value=\"Monday\">Monday</option>\n    <option value=\"Tuesday\">Tuesday</option>\n    <option value=\"Wednesday\">Wednesday</option>\n    <option value=\"Thursday\">Thursday</option>  \n    <option value=\"Friday\">Friday</option>\n    <option value=\"Saturday\">Saturday</option>\n    </select>\n\n</div>\n\n    <div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"time\" id=\"time\">\n    <option value=\"NoTime\">Select Diet Time:</option>\n    <option value=\"10:00\">10:00 Am</option>\n    <option value=\"10:30\">10:30 Am</option>\n    <option value=\"11:00\">11:00 Am</option>\n    <option value=\"11:30\">11:30 Am</option>  \n    <option value=\"12:00\">12:00 Am</option>\n    <option value=\"12:30\">12:30 Am</option>\n    <option value=\"13:00\">1:00 Pm</option>\n    <option value=\"13:30\">1:30 Pm</option>\n    <option value=\"14:00\">2:00 Pm</option>  \n    <option value=\"14:30\">2:30 Pm</option>\n    <option value=\"15:00\">3:00 Pm</option>\n    <option value=\"15:30\">3:30 Pm</option>\n    <option value=\"16:00\">4:00 Pm</option>\n    <option value=\"16:30\">4:30 Pm</option>  \n    <option value=\"17:00\">5:00 Pm</option>\n    </select>\n      \n</div>\n\n    <button type=\"submit\">Set apointment</button> \n       \n    </form>\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/clinicName/\" + document.getElementsByName(\"clinicname\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n</script>\n</body>\n</html>\n","output":"str","x":540,"y":480,"wires":[["c5dc6402.ed466"]]},{"id":"c5dc6402.ed466","type":"http response","z":"847dfe23.00be08","name":"","statusCode":"","headers":{},"x":730,"y":480,"wires":[]},{"id":"8fd48d67.15091","type":"change","z":"847dfe23.00be08","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[["fe7cd219.ff564"]]},{"id":"cd988c4c.503948","type":"template","z":"847dfe23.00be08","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"clinicCity\":\"{{req.params.clinicCity}}\",\n\"clinicname\":\"{{req.params.clinicname}}\",\n\"patientname\":\"{{req.params.username}}\"\n                    }","output":"json","x":310,"y":260,"wires":[["8fd48d67.15091"]]},{"id":"b2f1dc71.edbcf8","type":"change","z":"847dfe23.00be08","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[["fe7cd219.ff564"]]},{"id":"fe7cd219.ff564","type":"join","z":"847dfe23.00be08","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":700,"y":220,"wires":[["7bc96ab.3c3a594"]]},{"id":"7bc96ab.3c3a594","type":"function","z":"847dfe23.00be08","name":"select all data to an object","func":"var b=[\"Nikos Xasapis\", \"Maria Papadopoulou\", \"Aggelos Karamsalis\", \"Mhxalhs Aggelou\", \"Dimitrios Dimitriou\", \"Mhxalhs Mhxahlidhs\",\"Georgios Georgopoulos\",\"Dionisis Papadopoulos\", \"Iwanna Perpatakh\", \"Dwra Polyzohdou\"]\nvar e=Math.floor(Math.random() * b.length);\n\nvar a={\n    PatientName:msg.payload[1].patientname,\n    day:msg.payload[0].day,\n    time:msg.payload[0].time,\n    clinicName:msg.payload[1].clinicname,\n    clinicCity:msg.payload[1].clinicCity,\n    DoctorName:b[e]\n}\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":220,"wires":[["8ec6d4dd.d988d8","1967d46b.413e7c"]]},{"id":"1967d46b.413e7c","type":"function","z":"847dfe23.00be08","name":"See if apointment was set","func":"if(msg.payload!==null){\n    msg.payload=\"202 Apointment is set!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":280,"wires":[["90da4d71.4a65b8"]]},{"id":"e9d93723.75011","type":"http in","z":"cc1cea02.597c18","name":"","url":"/user/:username/doctor/:doctorCity/setappointment","method":"get","upload":false,"swaggerDoc":"","x":220,"y":620,"wires":[["ba435834.33621","ce5bc321.491b7"]]},{"id":"46842ba4.754c04","type":"http in","z":"cc1cea02.597c18","name":"","url":"/user/:username/doctor/:doctorCity/setappointment/doctorId/:doctorId","method":"post","upload":false,"swaggerDoc":"","x":440,"y":80,"wires":[["e90487c9.4a93b","8399e7bc.fdbe08"]]},{"id":"eb89516b.d9bb4","type":"http response","z":"cc1cea02.597c18","name":"Say if appointment is set","statusCode":"200","headers":{"content-type":"text/html"},"x":1270,"y":260,"wires":[]},{"id":"ba435834.33621","type":"template","z":"cc1cea02.597c18","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n</style>\n</head>\n<body>\n\n<h2>   e-Med</h2>\n\n\n    <div class=\"imgcontainer\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n    \n\n\n<div class=\"custom-select\" style=\"width:200px;\">\n   \n    <select name=\"doctorId\" id=\"doctorId\">\n    <option value=\"\">Select a doctor :</option>\n    <option value=\"500\">Νίκος Παπαβασιλίου, Παθολόγος</option>\n    <option value=\"501\">Νικολέτα Παπαιωάννου, Παθολόγος</option>\n       <option value=\"502\">Βασιλική Αναστασιάδου, Παθολόγος</option>\n    <option value=\"503\">Βαγγέλης Μεταξάς, Νευρολόγος</option>\n      \n    </select>\n\n</div>\n<form id = \"your_form\" onsubmit=\"yourFunction()\" method=\"post\">\n<div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"day\" id=\"day\">\n    <option value=\"NoDay\">Select Day:</option>\n    <option value=\"Monday\">Monday</option>\n    <option value=\"Tuesday\">Tuesday</option>\n    <option value=\"Wednesday\">Wednesday</option>\n    <option value=\"Thursday\">Thursday</option>  \n    <option value=\"Friday\">Friday</option>\n    <option value=\"Saturday\">Saturday</option>\n    </select>\n\n</div>\n\n    <div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"time\" id=\"time\">\n    <option value=\"NoTime\">Select Diet Time:</option>\n    <option value=\"10:00\">10:00 Am</option>\n    <option value=\"10:30\">10:30 Am</option>\n    <option value=\"11:00\">11:00 Am</option>\n    <option value=\"11:30\">11:30 Am</option>  \n    <option value=\"12:00\">12:00 Am</option>\n    <option value=\"12:30\">12:30 Am</option>\n    <option value=\"13:00\">1:00 Pm</option>\n    <option value=\"13:30\">1:30 Pm</option>\n    <option value=\"14:00\">2:00 Pm</option>  \n    <option value=\"14:30\">2:30 Pm</option>\n    <option value=\"15:00\">3:00 Pm</option>\n    <option value=\"15:30\">3:30 Pm</option>\n    <option value=\"16:00\">4:00 Pm</option>\n    <option value=\"16:30\">4:30 Pm</option>  \n    <option value=\"17:00\">5:00 Pm</option>\n    </select>\n      \n</div>\n\n    <button type=\"submit\">Set apointment</button> \n       \n    </form>\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/doctorId/\" + document.getElementsByName(\"doctorId\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n</script>\n</body>\n</html>\n","output":"str","x":580,"y":620,"wires":[["8461db79.cb447"]]},{"id":"8461db79.cb447","type":"http response","z":"cc1cea02.597c18","name":"setAppointmentGui","statusCode":"","headers":{},"x":850,"y":620,"wires":[]},{"id":"a6ff3d7c.e0b8b8","type":"change","z":"cc1cea02.597c18","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["af05b12d.e2d4a"]]},{"id":"e90487c9.4a93b","type":"template","z":"cc1cea02.597c18","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"doctorId\":\"{{req.params.doctorId}}\",\n\"patientname\":\"{{req.params.username}}\"\n                    }","output":"json","x":470,"y":200,"wires":[["a6ff3d7c.e0b8b8"]]},{"id":"8399e7bc.fdbe08","type":"change","z":"cc1cea02.597c18","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":80,"wires":[["af05b12d.e2d4a"]]},{"id":"af05b12d.e2d4a","type":"join","z":"cc1cea02.597c18","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":760,"y":280,"wires":[["68d339f1.6ef1"]]},{"id":"c445b1f0.e5665","type":"change","z":"cc1cea02.597c18","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":540,"wires":[["af05b12d.e2d4a"]]},{"id":"68d339f1.6ef1","type":"function","z":"cc1cea02.597c18","name":"Make 1 apointment object","func":"var table1=msg.payload[1];\nvar table2=msg.payload[2];\nvar table=msg.payload[0];\nvar DatabaseLength = Object.keys(table).length;\n\n\nfor (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].DoctorID == table2.doctorId)\n            {\n            var a=table[i];\n            }\n        }\ne={\n    Day: table1.day,\n    time: table1.time,\n    PatientName: table2.patientname,\n    DoctorCity: a.DoctorCity,\n    DoctorAdress: a.DoctorAdress,\n    DoctorName: a.DoctorName,\n    DoctorId :table2.doctorId\n}\nmsg.payload=e;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":280,"wires":[["bc5037c3.aaea4","7d113a80.27e42c"]]},{"id":"7d113a80.27e42c","type":"function","z":"cc1cea02.597c18","name":"See if apointment was set","func":"if(msg.payload!==null){\n    msg.payload=\"202 Apointment is set!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[["eb89516b.d9bb4"]]},{"id":"4b5b3bdf.78ba8c","type":"http in","z":"b63e9356.bec038","name":"","url":"/user/:username/doctors","method":"get","upload":false,"swaggerDoc":"","x":280,"y":400,"wires":[["b799bfe6.f2b7f","9124f6b5.346e"]]},{"id":"122ada81.3e099d","type":"http response","z":"b63e9356.bec038","name":"show creation website","statusCode":"","headers":{},"x":960,"y":320,"wires":[]},{"id":"e4456593.a48628","type":"http in","z":"b63e9356.bec038","name":"","url":"/user/:username/doctors/doctorCity/:doctorcity","method":"get","upload":false,"swaggerDoc":"","x":410,"y":600,"wires":[["e41b5247.2c8cc"]]},{"id":"22e4501e.bd76c","type":"http response","z":"b63e9356.bec038","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1080,"y":520,"wires":[]},{"id":"4b126ed4.f2b5c8","type":"change","z":"b63e9356.bec038","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[["36d8bf0c.a839c"]]},{"id":"36d8bf0c.a839c","type":"join","z":"b63e9356.bec038","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":960,"y":600,"wires":[["afcc89fe.35b85"]]},{"id":"5401f95c.4a5e88","type":"change","z":"b63e9356.bec038","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["36d8bf0c.a839c"]]},{"id":"afcc89fe.35b85","type":"function","z":"b63e9356.bec038","name":"Select_Pharmacies","func":"{\nvar i=0;\nvar b=[];\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].DoctorCity === table2.city)\n            {\n            a=table[i];\n            b.push(a);\n            msg.payload=b;\n            }\n          \n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":600,"wires":[["22e4501e.bd76c"]]},{"id":"110fbc78.0e077c","type":"comment","z":"b63e9356.bec038","name":"controller function","info":"","x":1200,"y":640,"wires":[]},{"id":"66be5e89.78f6a","type":"comment","z":"b63e9356.bec038","name":"TO TEST GO TO:\"http://localhost:1880/user/maria/doctors\"","info":"έχουμε για αρχικό site :\nhttp://localhost:1880/user/{username}/pharmacy\n\nοπότε:\nhttp://localhost:1880/user/maria/pharmacy\nhttp://localhost:1880/user/George/pharmacy\n \n κ.τ.λ.π","x":651,"y":160,"wires":[],"icon":"node-red/cog.svg"},{"id":"9124f6b5.346e","type":"template","z":"b63e9356.bec038","name":"Homepage-Doctor","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n\n</style>\n</head>\n<body>\n    \n    <div class=\"navbar\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    <a href=\"\">e-Med</a>\n    </div>\n   \n        \n<!--surround the select box with a \"custom-select\" DIV element. Remember to set the width:-->\n    <div class=\"header\">\n    <h2>Find doctors in your city:</h2>\n    </div>\n    <div class=\"custom-select\" style=\"width:200px;\">\n    \n    <select name=\"city\" id=\"Pharmacy-city\">\n    <option value=\"0\">Select City:</option>\n    <option value=\"Athens\">Athens</option>\n    <option value=\"Thessaloniki\">Thessaloniki</option>\n    <option value=\"Patra\">Patra</option>\n    <option value=\"Kavala\">Kavala</option>\n    <option value=\"Kozani\">Kozani</option>\n    <option value=\"Kastoria\">Kastoria</option>\n    <option value=\"Ptolemaida\">Ptolemaida</option>\n    <option value=\"Edessa\">Edessa</option>\n    <option value=\"Xanthi\">Xanthi</option>\n    <option value=\"Larisa\">Larisa</option>\n    <option value=\"Lamia\">Lamia</option>\n    <option value=\"Volos\">Volos</option>\n    </select>\n      \n</div>\n   <form id = \"your_form\" onsubmit=\"yourFunction()\">\n    <button type=\"submit\">Search</button> \n    \n    \n</form>\n\n\n\n\n\n\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/doctorCity/\" + document.getElementsByName(\"city\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n\n/*if the user clicks anywhere outside the select box,\nthen close all select boxes:*/\ndocument.addEventListener(\"click\", closeAllSelect);\n\n</script>\n\n</body>\n</html>\n","output":"str","x":570,"y":320,"wires":[["122ada81.3e099d"]],"icon":"node-red/white-globe.svg"},{"id":"e41b5247.2c8cc","type":"template","z":"b63e9356.bec038","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"city\":\"{{req.params.doctorcity}}\"\n                    }","output":"json","x":630,"y":700,"wires":[["4b126ed4.f2b5c8"]]},{"id":"2e91df1c.803e18","type":"comment","z":"b63e9356.bec038","name":"database output data transformation to JSONata","info":"","x":740,"y":480,"wires":[]},{"id":"67c22990.6f80b","type":"comment","z":"b63e9356.bec038","name":"extract path parameters to JSONata","info":"","x":680,"y":740,"wires":[]},{"id":"69968f06.6bd308","type":"comment","z":"b63e9356.bec038","name":"HTML/CSS page that loads GUI and redirects to proper URL","info":"","x":520,"y":260,"wires":[]},{"id":"49397779.7cb9d","type":"comment","z":"b63e9356.bec038","name":"doctor database","info":"","x":540,"y":440,"wires":[]},{"id":"5f76b24f.738ac4","type":"comment","z":"b63e9356.bec038","name":"JSONata response","info":"","x":1170,"y":480,"wires":[]},{"id":"d9cde580.aada88","type":"comment","z":"b63e9356.bec038","name":"concatenate inputs to one array","info":"","x":970,"y":640,"wires":[]},{"id":"cdb017b3.50306","type":"comment","z":"b63e9356.bec038","name":"The response","info":"","x":950,"y":260,"wires":[]},{"id":"df6265.52b32d98","type":"comment","z":"b63e9356.bec038","name":"the page with select menu","info":"","x":230,"y":360,"wires":[]},{"id":"a70ea0be.2ca93","type":"comment","z":"b63e9356.bec038","name":"the main URL","info":"","x":310,"y":640,"wires":[]},{"id":"5a9a31a3.afbe8","type":"comment","z":"cc1cea02.597c18","name":"the post URL that loads appointments to database","info":"","x":350,"y":40,"wires":[]},{"id":"65302ebd.eca518","type":"comment","z":"cc1cea02.597c18","name":"extract path parameters to JSONata","info":"","x":420,"y":320,"wires":[]},{"id":"766b9f2b.76e6a","type":"comment","z":"cc1cea02.597c18","name":"concatenate inputs to one array","info":"","x":810,"y":320,"wires":[]},{"id":"5490372.c9e0048","type":"comment","z":"cc1cea02.597c18","name":"this is database output","info":"","x":620,"y":480,"wires":[]},{"id":"bc1d041c.fda99","type":"comment","z":"cc1cea02.597c18","name":"push appointment to database","info":"","x":1160,"y":180,"wires":[]},{"id":"c25f956e.69aae8","type":"comment","z":"cc1cea02.597c18","name":"GUI","info":"","x":610,"y":680,"wires":[]},{"id":"436ef2e7.04d33c","type":"comment","z":"847dfe23.00be08","name":"GUI","info":"","x":510,"y":520,"wires":[]},{"id":"2d2027f2.3c686","type":"comment","z":"847dfe23.00be08","name":"POST URL that loads the clinic appointment to database","info":"","x":290,"y":120,"wires":[]},{"id":"eac6cac3.de29a","type":"comment","z":"847dfe23.00be08","name":"!!!!<< FOR TESTING>>!!! CLICK HERE","info":"**TYPE THIS**\nhttp://localhost:1880/user/maria/clinic/Thessaloniki/setapoinment       ","x":730,"y":80,"wires":[]},{"id":"bd6d2ca2.870028","type":"comment","z":"847dfe23.00be08","name":"extract path parameters to JSONata","info":"","x":320,"y":320,"wires":[]},{"id":"34f594a3.3c5b6c","type":"comment","z":"847dfe23.00be08","name":"concatenate inputs to one array","info":"","x":650,"y":320,"wires":[]},{"id":"222c489b.94caf","type":"comment","z":"f9992a80.e82128","name":"!!<<FOR TESTING>>!! OPEN HERE","info":"TYPE THIS\nhttp://localhost:1880/user/maria/diet","x":560,"y":60,"wires":[]},{"id":"b228ab58.4c8c8","type":"comment","z":"f9992a80.e82128","name":"output of database","info":"","x":890,"y":380,"wires":[]},{"id":"fa55ad80.05bb2","type":"comment","z":"f9992a80.e82128","name":"the URL of the service","info":"","x":220,"y":700,"wires":[]},{"id":"26753256.14efc6","type":"comment","z":"f9992a80.e82128","name":"extract path parameters and convert to JSONata","info":"","x":540,"y":800,"wires":[]},{"id":"c485da36.a73e58","type":"comment","z":"f9992a80.e82128","name":"controller function","info":"","x":880,"y":600,"wires":[]},{"id":"29eecef.43fb4b2","type":"comment","z":"81b6d283.cad1f8","name":"The trigger http","info":"","x":160,"y":140,"wires":[]},{"id":"1f4913e8.fbcd34","type":"comment","z":"81b6d283.cad1f8","name":"!!<FOR TESTING>!! OPEN HERE","info":"Type this\nhttp://localhost:1880/user/maria/diagnosis\nand then check  fever and stomachache","x":520,"y":140,"wires":[]},{"id":"cf5f6a9e.2dca3","type":"comment","z":"81b6d283.cad1f8","name":"the URL service","info":"","x":180,"y":640,"wires":[]},{"id":"bc7b535c.d0fc98","type":"comment","z":"81b6d283.cad1f8","name":"database output","info":"","x":560,"y":380,"wires":[]},{"id":"43b3ad7a.633e14","type":"comment","z":"81b6d283.cad1f8","name":"extract path parameters","info":"","x":340,"y":640,"wires":[]},{"id":"76445f09.3d00f","type":"comment","z":"81b6d283.cad1f8","name":"concatenate inputs to one array","info":"","x":650,"y":620,"wires":[]},{"id":"6cc5a8b4.8b59e8","type":"comment","z":"81b6d283.cad1f8","name":"response","info":"","x":920,"y":460,"wires":[]},{"id":"6d2a0853.cc7e9","type":"comment","z":"a50ae9b3.db2c78","name":"the trigger http","info":"","x":190,"y":300,"wires":[]},{"id":"9eb0a5.53b2bf58","type":"comment","z":"a50ae9b3.db2c78","name":"the URL service","info":"","x":120,"y":500,"wires":[]},{"id":"78d2d0e9.1c439","type":"comment","z":"a50ae9b3.db2c78","name":"GUI","info":"","x":610,"y":300,"wires":[]},{"id":"6eda82b9.4e4954","type":"comment","z":"a50ae9b3.db2c78","name":"database output","info":"","x":420,"y":480,"wires":[]},{"id":"5efd7074.2918f","type":"comment","z":"a50ae9b3.db2c78","name":"extract path parameters to JSONata","info":"","x":340,"y":700,"wires":[]},{"id":"aaaa1522.3eaf","type":"comment","z":"a50ae9b3.db2c78","name":"controller  function","info":"","x":860,"y":660,"wires":[]},{"id":"227b9b67.66f6dc","type":"comment","z":"a50ae9b3.db2c78","name":"response","info":"","x":900,"y":500,"wires":[]},{"id":"45fde796.9e457","type":"comment","z":"6933888e.becf18","name":"GUI","info":"","x":410,"y":240,"wires":[]},{"id":"f773dd3a.9e3ab","type":"comment","z":"6933888e.becf18","name":"the trigger http","info":"","x":110,"y":160,"wires":[]},{"id":"4f3846bb.5682d8","type":"comment","z":"6933888e.becf18","name":"the URL service","info":"","x":120,"y":540,"wires":[]},{"id":"c83b3cf7.2ddfa8","type":"comment","z":"6933888e.becf18","name":"database output","info":"","x":340,"y":360,"wires":[]},{"id":"fb35d5d4.8f1008","type":"comment","z":"6933888e.becf18","name":"extract path parameters and conver to JSONata","info":"","x":240,"y":680,"wires":[]},{"id":"dca34066.39a83","type":"comment","z":"6933888e.becf18","name":"Controller function","info":"","x":790,"y":600,"wires":[]},{"id":"26505e18.0f063a","type":"comment","z":"6933888e.becf18","name":"response","info":"","x":1160,"y":360,"wires":[]},{"id":"63f10858.35cc3","type":"comment","z":"5949f87.9086208","name":"GUI","info":"","x":510,"y":100,"wires":[]},{"id":"108f0d19.14cc1b","type":"comment","z":"5949f87.9086208","name":"The trigger http","info":"","x":80,"y":200,"wires":[]},{"id":"38d28b31.47ced4","type":"comment","z":"5949f87.9086208","name":"output of database","info":"","x":530,"y":320,"wires":[]},{"id":"d28df63f.065318","type":"comment","z":"5949f87.9086208","name":"The URL service","info":"","x":120,"y":540,"wires":[]},{"id":"916b460e.67e488","type":"comment","z":"5949f87.9086208","name":"extract path parameters and convert to JSONata","info":"","x":540,"y":640,"wires":[]},{"id":"a6271d4d.c3fa6","type":"comment","z":"5949f87.9086208","name":"concatenate  both inputs to one array","info":"","x":680,"y":420,"wires":[]},{"id":"9eeee8c3.050468","type":"comment","z":"5949f87.9086208","name":"Controller function","info":"","x":730,"y":500,"wires":[]},{"id":"372990ea.36a4f8","type":"comment","z":"5949f87.9086208","name":"response","info":"","x":880,"y":320,"wires":[]},{"id":"2577f47c.14f61c","type":"comment","z":"be4d7b92.7c8ab8","name":"the  trigger http","info":"","x":110,"y":300,"wires":[]},{"id":"a73e182a.db497","type":"comment","z":"f30f6888.ef099","name":"GUI","info":"","x":370,"y":160,"wires":[]},{"id":"6daf87f.60ef3f8","type":"comment","z":"f30f6888.ef099","name":"databases output and convertion to JSONata","info":"","x":670,"y":300,"wires":[]},{"id":"71bc0eee.5367c8","type":"comment","z":"f30f6888.ef099","name":"extract path parameters and convert to JSONata","info":"","x":420,"y":620,"wires":[]},{"id":"9c57d68.6e58ca8","type":"comment","z":"f30f6888.ef099","name":"controller function","info":"","x":860,"y":400,"wires":[]},{"id":"5c144793.c73","type":"comment","z":"f30f6888.ef099","name":"response","info":"","x":1000,"y":260,"wires":[]},{"id":"8124fa74.ccd91","type":"comment","z":"f30f6888.ef099","name":"!!<FOR TESTING>!! OPEN HERE","info":"Type this\nhttp://localhost:1880/user/\nand then search for your username","x":160,"y":160,"wires":[]},{"id":"f3bf2067.9b9d48","type":"comment","z":"f30f6888.ef099","name":"the  URL service","info":"","x":100,"y":520,"wires":[]},{"id":"7627edb5.698e3c","type":"comment","z":"4270665.cda4f98","name":"the url service","info":"","x":230,"y":320,"wires":[]},{"id":"25001485.898cc4","type":"comment","z":"4270665.cda4f98","name":"JSON response","info":"","x":860,"y":240,"wires":[]},{"id":"30631bfb.dc524c","type":"comment","z":"4270665.cda4f98","name":"databases output and JSONata convertion","info":"","x":760,"y":380,"wires":[]},{"id":"dbccbbbf.e8fc48","type":"comment","z":"4270665.cda4f98","name":"concatenate both inputs to one array","info":"","x":640,"y":600,"wires":[]},{"id":"fd004614.bda6e","type":"comment","z":"4270665.cda4f98","name":"controller function","info":"","x":780,"y":480,"wires":[]},{"id":"4d53a84f.d8c7e8","type":"http in","z":"412f96f0.f640f","name":"","url":"/userform","method":"get","upload":false,"swaggerDoc":"","x":290,"y":460,"wires":[["84dca208.98ec2"]]},{"id":"2b229fb6.e4c0c","type":"http in","z":"412f96f0.f640f","name":"","url":"/user","method":"post","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["dcb244b3.08a5b8"]]},{"id":"abf0999b.574a08","type":"http response","z":"412f96f0.f640f","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":870,"y":280,"wires":[]},{"id":"84dca208.98ec2","type":"template","z":"412f96f0.f640f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\nform {border: 20px solid #f1f1f1;}\n\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 10px 5px;\n  margin:28px 0%; /*this is half of width of your div*/\n  display: block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0%;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n}\n\nimg.avatar {\n    \n  width: 10%;\n  border-radius: 10%;\n}\n\n.container {\n  padding: 30px;\n  margin: 8px 40%;\n    \n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n}\n/* Create a custom checkbox */\n.checkmark {\n  position: absolute;\n  top: 0;\n  left: 0;\n  height: 25px;\n  width: 25px;\n  background-color: #eee;\n}\n\n/* On mouse-over, add a grey background color */\n.checkbox1:hover input ~ .checkmark {\n  background-color: #ccc;\n}\n\n/* When the checkbox is checked, add a blue background */\n.checkbox1 input:checked ~ .checkmark {\n  background-color: #2196F3;\n}\n\n/* Create the checkmark/indicator (hidden when not checked) */\n.checkbox1:after {\n  content: \"\";\n  position: absolute;\n  display: none;\n}\n\n/* Show the checkmark when checked */\n.checkbox1 input:checked ~ .checkmark:after {\n  display: block;\n}\n\n/* Style the checkmark/indicator */\n.checkbox1 .checkmark:after {\n  left: 9px;\n  top: 5px;\n  width: 5px;\n  height: 10px;\n  border: solid white;\n  border-width: 0 3px 3px 0;\n  -webkit-transform: rotate(45deg);\n  -ms-transform: rotate(45deg);\n  transform: rotate(45deg);\n}\n</style>\n</head>\n<body>\n\n<h2>   e-Med</h2>\n\n<form action=\"/user\" method=\"post\">\n    <div class=\"imgcontainer\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n    <label for=\"username\"><b>Username</b></label>\n    <input type=\"text\" placeholder=\"Enter Username\" name=\"username\" required>\n\n    <label for=\"password\"><b>password</b></label>\n    <input type=\"password\" placeholder=\"Enter Password\" name=\"password\" required>\n    \n    \n    <label for=\"email\"><b>email</b></label>\n    <input type=\"email\" placeholder=\"email\" name=\"email\" required>\n    \n     <h2>  </h2>\n        \n    <label for=\"usercity\"><b>City</b></label>\n    <input type=\"text\" placeholder=\"Your city\" name=\"usercity\" required>\n    \n    <h2>  </h2>\n\n    <label class=\"checkbox1\">I belong to a vulnerable group\n    <input type=\"checkbox\"  id=\"IsVulnerable\" name=\"IsVulnerable\" checked=\"checked\">\n    <span class=\"checkmark\"></span>\n    </label>\n    \n    <button type=\"submit\">Register</button>\n    \n  </div>\n\n</form>\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\n</script>\n</body>\n</html>\n","output":"str","x":500,"y":460,"wires":[["11c085d.5f2ce7a"]]},{"id":"11c085d.5f2ce7a","type":"http response","z":"412f96f0.f640f","name":"","statusCode":"","headers":{},"x":690,"y":460,"wires":[]},{"id":"dcb244b3.08a5b8","type":"change","z":"412f96f0.f640f","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":280,"wires":[["79b6e148.b7cfa"]]},{"id":"79b6e148.b7cfa","type":"function","z":"412f96f0.f640f","name":"Convert html to json object","func":"var a=msg.payload;\n\nif (a.IsVulnerable==\"on\"){\n        a={\n        username: a.username,\n        password: a.password,\n        email:    a.email,\n        UserCity: a.usercity,\n        IsVulnerable: true,\n        Latitude:Math.random()*100+10 ,\n        Longtitude: (Math.random()*100+10),\n        userID: Math.floor(Math.random()*100000+500)\n        }\n    \n}\nelse{\n    a={\n        username: a.username,\n        password: a.password,\n        email:    a.email,\n        UserCity: a.usercity,\n        IsVulnerable: false,\n        Latitude:Math.random()*100+10 ,\n        Longtitude: (Math.random()*100+10),\n        userID: Math.floor(Math.random()*100+200)\n\n    }\n}\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["bd76be4a.389ab","abf0999b.574a08"]]},{"id":"7aad5dbf.d8a854","type":"comment","z":"412f96f0.f640f","name":"POST URL to load user data on database","info":"","x":180,"y":240,"wires":[]},{"id":"278fa64a.00a6aa","type":"comment","z":"412f96f0.f640f","name":"response","info":"","x":780,"y":340,"wires":[]},{"id":"aad98bf0.4be378","type":"comment","z":"412f96f0.f640f","name":"html kombos pou pairnei username password city ki ta stelnei si functin","info":"html kombos pou pairnei username password city ki ta stelnei si functin","x":1590,"y":840,"wires":[]},{"id":"9db51622.2944e8","type":"comment","z":"412f96f0.f640f","name":"Register GUI","info":"","x":490,"y":520,"wires":[]},{"id":"5af5d0db.d7b73","type":"comment","z":"412f96f0.f640f","name":"push JSONata users data to database","info":"","x":810,"y":160,"wires":[]},{"id":"2ed567d3.fcafc8","type":"comment","z":"412f96f0.f640f","name":"!!<FOR TESTING>!! OPEN HERE","info":"TYPE \nhttp://localhost:1880/userform","x":420,"y":160,"wires":[]},{"id":"fd054926.a3d79","type":"debug","z":"14b36864.3f82c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":160,"wires":[]},{"id":"b554ec59.7d241","type":"http in","z":"14b36864.3f82c","name":"","url":"/user/:username/search","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["f2a3fe4f.18bb58","9813dd83.8958d8","af3d04cb.9b2928","79519d6a.60968c","4a6b3b31.cb3044","9b1f8d2a.0f571","bcdf8906.0609b8","e8124c0a.68cab"]]},{"id":"448fb137.321308","type":"http response","z":"14b36864.3f82c","name":"show creation website","statusCode":"","headers":{},"x":735,"y":80,"wires":[]},{"id":"44de82c1.39084c","type":"http in","z":"14b36864.3f82c","name":"","url":"/user/:username/search/:SearchWord","method":"get","upload":false,"swaggerDoc":"","x":640,"y":520,"wires":[["951c9671.3ebaa"]]},{"id":"10b86a10.1569de","type":"change","z":"14b36864.3f82c","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":540,"wires":[["ba9267c6.f1e97","c173cc14.6d186","c26881b4.f02728","4ec191ba.6ed738","e92c10e5.c90048","d9a6f8a3.edde78","fb706d97.ff416"]]},{"id":"302fc2d7.2699be","type":"change","z":"14b36864.3f82c","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585,"y":200,"wires":[["fb706d97.ff416"]]},{"id":"ae87a547.de5c8","type":"comment","z":"14b36864.3f82c","name":"Η συνάρτηση επιστροφής","info":"","x":1430,"y":280,"wires":[]},{"id":"9813dd83.8958d8","type":"template","z":"14b36864.3f82c","name":"Homepage-Doctor","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n\n</style>\n</head>\n<body>\n    \n    <div class=\"navbar\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    <a href=\"\">e-Med</a>\n    </div>\n   \n        \n<!--surround the select box with a \"custom-select\" DIV element. Remember to set the width:-->\n    <div class=\"header\">\n    <h2>Search in our database:</h2>\n    </div>\n    <div class=\"custom-select\" style=\"width:200px;\">\n    <label for=\"searchword\"><b>Search in database using key word</b></label>\n    <input type=\"text\" placeholder=\"Enter Searchword\" name=\"searchword\" required>\n\n      \n</div>\n   <form id = \"your_form\" onsubmit=\"yourFunction()\">\n    <button type=\"submit\">Search</button> \n    \n    \n</form>\n\n\n\n\n\n\n\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\"+ window.location.pathname+\"/\" + document.getElementsByName(\"searchword\")[0].value;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n    \n}\n\n/*if the user clicks anywhere outside the select box,\nthen close all select boxes:*/\ndocument.addEventListener(\"click\", closeAllSelect);\n\n</script>\n\n</body>\n</html>\n","output":"str","x":345,"y":80,"wires":[["448fb137.321308"]],"icon":"node-red/white-globe.svg"},{"id":"951c9671.3ebaa","type":"template","z":"14b36864.3f82c","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"searchword\":\"{{req.params.SearchWord}}\"\n                    }","output":"json","x":930,"y":540,"wires":[["10b86a10.1569de"]]},{"id":"2f1022cc.821886","type":"comment","z":"14b36864.3f82c","name":"Μετατροπη βασης δεδομενων σε json","info":"","x":625,"y":140,"wires":[]},{"id":"43560880.5bed3","type":"comment","z":"14b36864.3f82c","name":"Μετατροπη των path parameter δεδομενων σε json","info":"","x":1350,"y":580,"wires":[]},{"id":"b9223200.e4a5e8","type":"comment","z":"14b36864.3f82c","name":"ena arxeio me html/css to opoo einai upeu8uno gia to gui kai to redirect sto parakatw site","info":"","x":485,"y":20,"wires":[]},{"id":"b4cd4a84.3dd108","type":"comment","z":"14b36864.3f82c","name":"βάση δεδομένων","info":"","x":355,"y":140,"wires":[]},{"id":"fb326a69.7072b","type":"comment","z":"14b36864.3f82c","name":"response","info":"","x":1300,"y":120,"wires":[]},{"id":"87b6aa5.88c5ed8","type":"comment","z":"14b36864.3f82c","name":"συγκριση λεξης-κλειδι με κάθε στοιχείο κάθε βάσης","info":"","x":1010,"y":140,"wires":[]},{"id":"dc06a59d.0dbdf8","type":"change","z":"14b36864.3f82c","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585,"y":240,"wires":[["d9a6f8a3.edde78"]]},{"id":"90ebd768.270978","type":"change","z":"14b36864.3f82c","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585,"y":280,"wires":[["e92c10e5.c90048"]]},{"id":"125269c5.52eba6","type":"change","z":"14b36864.3f82c","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585,"y":320,"wires":[["4ec191ba.6ed738"]]},{"id":"b47871f4.bb36d","type":"change","z":"14b36864.3f82c","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585,"y":360,"wires":[["c26881b4.f02728"]]},{"id":"c3244d38.e08b08","type":"change","z":"14b36864.3f82c","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585,"y":400,"wires":[["c173cc14.6d186"]]},{"id":"1a3714cd.15e91b","type":"change","z":"14b36864.3f82c","name":"Change databse to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585,"y":440,"wires":[["ba9267c6.f1e97"]]},{"id":"fb706d97.ff416","type":"join","z":"14b36864.3f82c","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":200,"wires":[["2339dd77.19d1aa"]]},{"id":"d9a6f8a3.edde78","type":"join","z":"14b36864.3f82c","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":240,"wires":[["57d16b5.36ac994"]]},{"id":"e92c10e5.c90048","type":"join","z":"14b36864.3f82c","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":280,"wires":[["93b0a719.4b2bc8"]]},{"id":"4ec191ba.6ed738","type":"join","z":"14b36864.3f82c","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":320,"wires":[["8ad8fa5.9080f88"]]},{"id":"c26881b4.f02728","type":"join","z":"14b36864.3f82c","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":360,"wires":[["90c714d3.0dc76"]]},{"id":"c173cc14.6d186","type":"join","z":"14b36864.3f82c","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":400,"wires":[["6dc1b6e2.732138"]]},{"id":"ba9267c6.f1e97","type":"join","z":"14b36864.3f82c","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":440,"wires":[["e9926874.712c7"]]},{"id":"b5e06b27.c55dd","type":"join","z":"14b36864.3f82c","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1380,"y":380,"wires":[["8588768d.816678"]]},{"id":"e9926874.712c7","type":"function","z":"14b36864.3f82c","name":"","func":"var i=0;\nvar b=[];\nvar a;\nvar table2=msg.payload[1];\nvar table7=msg.payload[0];\n DatabaseLength=Object.keys(table7).length;\n   for(i=0;i<DatabaseLength;i=i+1){\n       if(String(table7[i].DietID).includes(String(table2.searchword))){\n            a=table7[i];\n            b.push(a);\n            \n       }\n       if(String(table7[i].DietTitle).includes(String(table2.searchword))){\n           a=table7[i];\n            b.push(a);\n       }\n       if(String(table7[i].DietContent).includes(String(table2.searchword))){\n        a=table7[i];\n            b.push(a);   \n       }\n   }msg.payload=b;  \nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":440,"wires":[["b5e06b27.c55dd"]]},{"id":"6dc1b6e2.732138","type":"function","z":"14b36864.3f82c","name":"","func":"var i=0;\nvar b=[];\nvar a;\nvar table2=msg.payload[1];\nvar     table5=msg.payload[0];\nDatabaseLength=Object.keys(table5).length;\n    for(i=0;i<DatabaseLength;i=i+1){\n        if(String(table5[i].DiagnosisSymptoms[1].SymptomName).includes(String(table2.searchword))){\n            a=table5[i];\n            b.push(a);\n            \n        }\n        if(String(table5[i].DiagnosisID).includes(String(table2.searchword))){\n             a=table5[i];\n            b.push(a);\n        }\n        if(String(table5[i].DiagnosisTitle).includes(String(table2.searchword))){\n             a=table5[i];\n            b.push(a);\n        }\n    }msg.payload=b;   \nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":400,"wires":[["b5e06b27.c55dd"]]},{"id":"90c714d3.0dc76","type":"function","z":"14b36864.3f82c","name":"","func":"var i=0;\nvar b=[];\nvar a;\nvar table2=msg.payload[1];\nvar table6=msg.payload[0];\nDatabaseLength=Object.keys(table6).length;\n  for(i=0;i<DatabaseLength;i=i+1){\n      if(String(table6[i].PharmacyAdress).includes(String(table2.searchword))){\n            a=table6[i];\n            b.push(a);\n              \n      }\n      if(String(table6[i].PharmacyName).includes(String(table2.searchword))){\n            a=table6[i];\n            b.push(a);\n      }\n      if(String(table6[i].PharmacyPhoneNumber).includes(String(table2.searchword))){\n           a=table6[i];\n            b.push(a);\n      }\n      if(String(table6[i].PharmacyCity).includes(String(table2.searchword))){\n           a=table6[i];\n            b.push(a);\n      }\n      if(String(table6[i].Schedule).includes(String(table2.searchword))){\n          a=table6[i];\n            b.push(a);\n      }\n      if(String(table6[i].PharmacyID).includes(String(table2.searchword))){\n          a=table6[i];\n            b.push(a);\n      }\n  }msg.payload=b; \nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":360,"wires":[["b5e06b27.c55dd"]]},{"id":"8ad8fa5.9080f88","type":"function","z":"14b36864.3f82c","name":"","func":"var i=0;\nvar b=[];\nvar a;\nvar table2=msg.payload[1];\nvar table4=msg.payload[0];\nmsg.payload=null;\nDatabaseLength=Object.keys(table4).length;\n    for(i=0;i<DatabaseLength;i=i+1){\n        if(String(table4[i].HospitalAdress).includes(String(table2.searchword))){\n            a=table4[i];\n            b.push(a);\n            msg.payload=b;  \n            \n        }\n        if(String(table4[i].HospitalName).includes(String(table2.searchword))){\n            a=table4[i];\n            b.push(a); \n        }\n{\n    if(String(table4[i].HospitalPhoneNumber).includes(String(table2.searchword))){\n    a=table4[i];\n            b.push(a); \n}\n    }\n    if(String(table4[i].HospitalCity).includes(String(table2.searchword))){\n         a=table4[i];\n            b.push(a); \n    }\n    if(String(table4[i].HospitalID).includes(String(table2.searchword))){\n         a=table4[i];\n            b.push(a); \n    }} msg.payload=b;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[["b5e06b27.c55dd"]]},{"id":"2339dd77.19d1aa","type":"function","z":"14b36864.3f82c","name":"","func":"var i=0;\nvar b=[];\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(String(table[i].DoctorCity).includes(String(table2.searchword)))\n            {\n            a=table[i];\n            b.push(a);\n            //msg.payload=b;\n            }\n            if(String(table[i].DoctorID).includes(String(table2.searchword))){\n            a=table[i];\n            b.push(a);\n            }\n            if(String(table[i].DoctorAdress).includes(String(table2.searchword))){\n            a=table[i];\n            b.push(a); \n            }\n            if(String(table[i].DoctorName).includes(String(table2.searchword))){\n            a=table[i];\n            b.push(a); \n            }\n            if(String(table[i].DoctorDegree).includes(String(table2.searchword))){\n                 a=table[i];\n            b.push(a); \n            }\n            if(String(table[i].DoctorSex).includes(String(table2.searchword))){\n                     a=table[i];\n            b.push(a);  \n            }\n            if(String(table[i].DoctorPhoneNumber).includes(String(table2.searchword))){\n            a=table[i];\n            b.push(a);  \n            }\n            if(String(table[i].DoctorDescription).includes(String(table2.searchword))){\n                a=table[i];\n            b.push(a);  \n            }\n        \n        \n       \n        }\n         msg.payload=b;\n        \n         return msg;\n","outputs":1,"noerr":0,"x":1130,"y":200,"wires":[["b5e06b27.c55dd"]]},{"id":"57d16b5.36ac994","type":"function","z":"14b36864.3f82c","name":"","func":"var i=0;\nvar b=[];\nvar a;\nvar table2=msg.payload[1];\nvar table1=msg.payload[0];\nDatabaseLength=Object.keys(table1).length;\n    for(i=0;i<DatabaseLength;i=i+1){\n        if(String(table1[i].ArticleID).includes(String(table2.searchword)))\n        {\n            a=table1[i];\n            b.push(a);\n           \n        }\n        if(String(table1[i].ArticleTitle).includes(String(table2.searchword))){\n           a=table1[i];\n            b.push(a);\n            \n        }\n        if(String(table1[i].ArticleSubtitle).includes(String(table2.searchword))){\n            a=table1[i];\n            b.push(a);\n           \n        }\n        if(String(table1[i].ArticleContent).includes(String(table2.searchword))){\n            a=table1[i];\n            b.push(a);\n           \n        } }msg.payload=b; \nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":240,"wires":[["b5e06b27.c55dd"]]},{"id":"93b0a719.4b2bc8","type":"function","z":"14b36864.3f82c","name":"","func":"var i=0;\nvar b=[];\nvar a;\nvar table2=msg.payload[1];\nvar table3=msg.payload[0];\nDatabaseLength=Object.keys(table3).length;\n    for(i=0;i<DatabaseLength;i=i+1){\n        if(String(table3[i].ClinicName).includes(String(table2.searchword))){\n           a=table3[i];\n            b.push(a);\n            msg.payload=b;\n        } \n        if(String(table3[i].ClinicID).includes(String(table2.searchword))){\n             a=table3[i];\n            b.push(a);\n        }\n        if(String(table3[i].ClinicAdress).includes(String(table2.searchword))){\n             a=table3[i];\n            b.push(a);\n        }\n        if(String(table3[i].ClinicCity).includes(String(table2.searchword))){\n             a=table3[i];\n            b.push(a);\n        }\n    }msg.payload=b;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":280,"wires":[["b5e06b27.c55dd"]]},{"id":"ca820f.b7652df","type":"http response","z":"14b36864.3f82c","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1300,"y":160,"wires":[]},{"id":"8588768d.816678","type":"function","z":"14b36864.3f82c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":240,"wires":[["ca820f.b7652df","fd054926.a3d79"]]},{"id":"f55c6dd7.8594e8","type":"inject","z":"27b78a6f.cd3a96","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["3a583f03.5abf38"]]},{"id":"3a583f03.5abf38","type":"http request","z":"27b78a6f.cd3a96","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"localhost:1880/user/logout","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":280,"wires":[["86bd78c6.6fa678"]]},{"id":"336c1659.414bb2","type":"http in","z":"27b78a6f.cd3a96","name":"","url":"/user/logout","method":"put","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["7d5d3e67.ce3488"]]},{"id":"f9fdf7ec.5dff98","type":"http response","z":"27b78a6f.cd3a96","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":510,"y":160,"wires":[]},{"id":"7d5d3e67.ce3488","type":"function","z":"27b78a6f.cd3a96","name":"","func":"return msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["f9fdf7ec.5dff98","2bbe467b.33406a"]]},{"id":"86bd78c6.6fa678","type":"debug","z":"27b78a6f.cd3a96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":280,"wires":[]},{"id":"2bbe467b.33406a","type":"debug","z":"27b78a6f.cd3a96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":200,"wires":[]},{"id":"c753d561.1dc61","type":"comment","z":"14b36864.3f82c","name":"Συνένωση αποτελεσμάτων και εμφάνιση τους","info":"","x":1370,"y":460,"wires":[]},{"id":"c3a57092.394f8","type":"http in","z":"25b696ae.8d1f5a","name":"","url":"/user/:username/radar/Location","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["c9d77dd9.2975e"]]},{"id":"fdcf7de8.61fe4","type":"http response","z":"25b696ae.8d1f5a","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":800,"y":160,"wires":[]},{"id":"c9d77dd9.2975e","type":"function","z":"25b696ae.8d1f5a","name":"calculate cases","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["9492a8fa.ea9d3"]]},{"id":"2db6e3c5.cf4b84","type":"inject","z":"25b696ae.8d1f5a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["ebd3c4f9.ba6f"]]},{"id":"16d28c30.eaf384","type":"debug","z":"25b696ae.8d1f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":320,"wires":[]},{"id":"ebd3c4f9.ba6f","type":"http request","z":"25b696ae.8d1f5a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:1880/user/:username/radar/Location","tls":"","persist":false,"proxy":"","authType":"","x":240,"y":320,"wires":[["16d28c30.eaf384"]]},{"id":"d9e2c81.99800b8","type":"change","z":"25b696ae.8d1f5a","name":"Set headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["fdcf7de8.61fe4"]]},{"id":"9492a8fa.ea9d3","type":"template","z":"25b696ae.8d1f5a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"a\": \"watch out, virus cases in your city\"}","output":"str","x":520,"y":200,"wires":[["d9e2c81.99800b8"]]},{"id":"f1b8e377.d435f","type":"comment","z":"14b36864.3f82c","name":"for testing go to  http://localhost:1880/user/maria/search","info":"","x":200,"y":500,"wires":[]},{"id":"7200b31b.7f9364","type":"comment","z":"cc1cea02.597c18","name":"to test go to http://localhost:1880/user/maria/doctor/doctorCity/setappointment","info":"","x":270,"y":440,"wires":[]},{"id":"94e38004.2b8d7","type":"debug","z":"4270665.cda4f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":160,"wires":[]},{"id":"8eb3c4bc.ae2b58","type":"comment","z":"e8114728.03a9f8","name":"GUI","info":"","x":850,"y":400,"wires":[]},{"id":"95ba44fc.f434f8","type":"comment","z":"e8114728.03a9f8","name":"endpoint","info":"","x":280,"y":80,"wires":[]},{"id":"f9f71d1e.c4c0a8","type":"http in","z":"e8114728.03a9f8","name":"","url":"/user/:username/product","method":"get","upload":false,"swaggerDoc":"","x":520,"y":460,"wires":[["d836e395.34d758","a20f9c73.8a8c9"]]},{"id":"20d52a1b.c0e8b6","type":"http in","z":"e8114728.03a9f8","name":"","url":"/user/:username/product/category/:category/subcategory/:subcategory/productID/:pruductID/","method":"get","upload":false,"swaggerDoc":"","x":330,"y":140,"wires":[["d4cc2e54.79bde8"]]},{"id":"d836e395.34d758","type":"template","z":"e8114728.03a9f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: ;\n  text-align: center;\n  color: #1ca4ed;\n}\nimg.avatar {\n  width: 5%;\n  border-radius: 5%;\n}\n/* Increase the font size of the h1 element */\n.header h1 {\n  font-size: 10px;\n}\n\n/* Style the top navigation bar */\n.navbar {\n  overflow: hidden;\n  background-color: #1ca4ed;\n}\n\n/* Style the navigation bar links */\n.navbar a {\n  float: left;\n  display: block;\n  color: white;\n  text-align: center;\n  padding: 14px 20px;\n  text-decoration: none;\n}\n\n/* Right-aligned link */\n.navbar a.right {\n  float: right;\n}\n\n/* Change color on hover */\n.navbar a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n\n/*telos formas ksekinaei gia to text box\n/*the container must be positioned relative:*/\n.custom-select {\n  position: relative;\n  font-family: Arial;\n  margin: 30px 35%;\n  \n}\n\n.custom-select select {\n  display: none; /*hide original SELECT element:*/\n}\n\n.select-selected {\n  background-color: DodgerBlue;\n}\n\n/*style the arrow inside the select element:*/\n.select-selected:after {\n  position: absolute;\n  content: \"\";\n  top: 14px;\n  right: 10px;\n  width: 0;\n  height: 0;\n  border: 6px solid transparent;\n  border-color: #fff transparent transparent transparent;\n}\n\n/*point the arrow upwards when the select box is open (active):*/\n.select-selected.select-arrow-active:after {\n  border-color: transparent transparent #fff transparent;\n  top: 7px;\n}\n\n/*style the items (options), including the selected item:*/\n.select-items div,.select-selected {\n  color: #ffffff;\n  padding: 8px 16px;\n  border: 1px solid transparent;\n  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;\n  cursor: pointer;\n  user-select: none;\n}\n\n/*style items (options):*/\n.select-items {\n  position: absolute;\n  background-color: DodgerBlue;\n  top: 100%;\n  left: 0;\n  right: 0;\n  z-index: 99;\n}\n\n/*hide the items when the select box is closed:*/\n.select-hide {\n  display: none;\n}\n\n.select-items div:hover, .same-as-selected {\n  background-color: rgba(0, 0, 0, 0.1);\n}\n\nbutton {\n  background-color: #1ca4ed;\n  color: white;\n  padding: 14px 20px;\n  margin: 30px 35%;\n  border: none;\n  cursor: pointer;\n  width: 30%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n</style>\n</head>\n<body>\n\n<h2>   e-Med</h2>\n\n\n    <div class=\"imgcontainer\">\n    <img src=\"https://scontent.fskg3-1.fna.fbcdn.net/v/t1.15752-9/101580784_2797262347168330_6981411868690612224_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=TXWGnFV3iCsAX9xeVoh&_nc_ht=scontent.fskg3-1.fna&oh=821f2425e9e5c1dca2974a134636ecfa&oe=5EFB9364\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n    \n\n\n\n    \n\n\n    Choose Category:\n    \n    <select id=\"slct1\" name=\"slct1\" onchange=\"populate(this.id,'slct2')\">\n    \n    <option value=\"\"></option>\n    <option value=\"General Health\">General Health</option>\n    <option value=\"Protection\">Protection</option>\n    </select>\n    \n    <hr />\n    Choose Subcategory:\n    \n    <select id=\"slct2\" name=\"slct2\"  onchange=\"populate2(this.id,'slct3')\">\n    </select>\n    \n    <hr />\n    Choose Product:\n  \n    <select id=\"slct3\" name \"slct3\">\n    </select>\n   \n    <hr />\n    \n  <form id = \"your_form\" onsubmit=\"yourFunction()\" method=\"get\">\n    <button type=\"submit\">Set apointment</button> \n</form>\n\n<script>\nvar x, i, j, l, ll, selElmnt, a, b, c;\n/*look for any elements with the class \"custom-select\":*/\nx = document.getElementsByClassName(\"custom-select\");\nl = x.length;\nfor (i = 0; i < l; i++) {\n  selElmnt = x[i].getElementsByTagName(\"select\")[0];\n  ll = selElmnt.length;\n  /*for each element, create a new DIV that will act as the selected item:*/\n  a = document.createElement(\"DIV\");\n  a.setAttribute(\"class\", \"select-selected\");\n  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;\n  x[i].appendChild(a);\n  /*for each element, create a new DIV that will contain the option list:*/\n  b = document.createElement(\"DIV\");\n  b.setAttribute(\"class\", \"select-items select-hide\");\n  for (j = 1; j < ll; j++) {\n    /*for each option in the original select element,\n    create a new DIV that will act as an option item:*/\n    c = document.createElement(\"DIV\");\n    c.innerHTML = selElmnt.options[j].innerHTML;\n    c.addEventListener(\"click\", function(e) {\n        /*when an item is clicked, update the original select box,\n        and the selected item:*/\n        var y, i, k, s, h, sl, yl;\n        s = this.parentNode.parentNode.getElementsByTagName(\"select\")[0];\n        sl = s.length;\n        h = this.parentNode.previousSibling;\n        for (i = 0; i < sl; i++) {\n          if (s.options[i].innerHTML == this.innerHTML) {\n            s.selectedIndex = i;\n            h.innerHTML = this.innerHTML;\n            y = this.parentNode.getElementsByClassName(\"same-as-selected\");\n            yl = y.length;\n            for (k = 0; k < yl; k++) {\n              y[k].removeAttribute(\"class\");\n            }\n            this.setAttribute(\"class\", \"same-as-selected\");\n            break;\n          }\n        }\n        h.click();\n    });\n    b.appendChild(c);\n  }\n  x[i].appendChild(b);\n  a.addEventListener(\"click\", function(e) {\n      /*when the select box is clicked, close any other select boxes,\n      and open/close the current select box:*/\n      e.stopPropagation();\n      closeAllSelect(this);\n      this.nextSibling.classList.toggle(\"select-hide\");\n      this.classList.toggle(\"select-arrow-active\");\n    });\n}\nfunction closeAllSelect(elmnt) {\n  /*a function that will close all select boxes in the document,\n  except the current select box:*/\n  var x, y, i, xl, yl, arrNo = [];\n  x = document.getElementsByClassName(\"select-items\");\n  y = document.getElementsByClassName(\"select-selected\");\n  xl = x.length;\n  yl = y.length;\n  for (i = 0; i < yl; i++) {\n    if (elmnt == y[i]) {\n      arrNo.push(i)\n    } else {\n      y[i].classList.remove(\"select-arrow-active\");\n    }\n  }\n  for (i = 0; i < xl; i++) {\n    if (arrNo.indexOf(i)) {\n      x[i].classList.add(\"select-hide\");\n    }\n  }\n}\nfunction yourFunction(){\n    \n    var action_src = \"http://localhost:1880\" + window.location.pathname + \"/category/\" + document.getElementsByName(\"slct1\")[0].value  + \"/subcategory/\" + document.getElementsByName(\"slct2\")[0].value + \"/productID/\" + document.getElementById(\"slct3\").value ;\n    var your_form = document.getElementById('your_form');\n    your_form.action = action_src ;\n\n}\n\nfunction populate(s1,s2){\n\tvar s1 = document.getElementById(s1);\n\tvar s2 = document.getElementById(s2);\n\ts2.innerHTML = \"\";\n\tif(s1.value == \"General Health\"){\n\t\tvar optionArray = [\"|\",\"Analgesics|Analgesics\",\"Antiseptic|Antiseptic\"];\n\t} else if(s1.value == \"Protection\"){\n\t\tvar optionArray = [\"|\",\"FirstAid|First Aid\",\"Masks|Masks\"];\n\t}\n\tfor(var option in optionArray){\n\t\tvar pair = optionArray[option].split(\"|\");\n\t\tvar newOption = document.createElement(\"option\");\n\t\tnewOption.value = pair[0];\n\t\tnewOption.innerHTML = pair[1];\n\t\ts2.options.add(newOption);\n\t}\n}\n\nfunction populate2(s1,s2){\n\tvar s1 = document.getElementById(s1);\n\tvar s2 = document.getElementById(s2);\n\ts2.innerHTML = \"\";\n\tif(s1.value == \"Analgesics\"){\n\t\tvar optionArray = [\"|\",\"201|Aspirin Bayer\",\"200|Depon\"];\n\t} else if(s1.value == \"Antiseptic\"){\n\t\tvar optionArray = [\"|\",\"207|Betadine\",\"208|Korres Antiseptic Gel\",\"209|Open Care Antiseptic Gel\",\"210|Farcom Active, Antiseptic Gel\"];\n\t} else if(s1.value == \"FirstAid\"){\n\t\tvar optionArray = [\"|\",\"198|Gazes Asepta\",\"203|Gloves\",\"204|Cotton Mysoft\",\"206|Cotton Ariston\"];\n\t} else if(s1.value == \"Masks\"){\n\t\tvar optionArray = [\"|\",\"211|Lanswe Mask\",\"212|Protection Mask\"];\n\t}\n\tfor(var option in optionArray){\n\t\tvar pair = optionArray[option].split(\"|\");\n\t\tvar newOption = document.createElement(\"option\");\n\t\tnewOption.value = pair[0];\n\t\tnewOption.innerHTML = pair[1];\n\t\ts2.options.add(newOption);\n\t}\n}\n\n</script>\n</body>\n</html>\n","output":"str","x":860,"y":460,"wires":[["bc541010.83cb08"]]},{"id":"bc541010.83cb08","type":"http response","z":"e8114728.03a9f8","name":"","statusCode":"","headers":{},"x":1170,"y":460,"wires":[]},{"id":"9a561a06.3b87b8","type":"change","z":"e8114728.03a9f8","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":140,"wires":[["352e7afc.1324c6"]]},{"id":"d4cc2e54.79bde8","type":"template","z":"e8114728.03a9f8","name":"Get path parameter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"ProductID\":\"{{req.params.pruductID}}\"}\n                ","output":"json","x":870,"y":140,"wires":[["9a561a06.3b87b8"]]},{"id":"352e7afc.1324c6","type":"join","z":"e8114728.03a9f8","name":"combine arrays","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1360,"y":200,"wires":[["e9d71815.777f18"]]},{"id":"e9d71815.777f18","type":"function","z":"e8114728.03a9f8","name":"Select_product","func":"{\nvar i=0;\nvar a;\nvar table=msg.payload[0];\nvar table2=msg.payload[1];\nvar DatabaseLength = Object.keys(table).length;\nmsg.payload=null;\n\n    for (i=0; i<DatabaseLength; i=i+1)\n        {\n        \n        if(table[i].ProductID == table2.ProductID)\n            {\n           \n            a=table[i];\n            \n            msg.payload=a;\n            }\n          \n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":200,"wires":[["47cd78a.7d94b08"]]},{"id":"31acd0d.42995b","type":"change","z":"e8114728.03a9f8","name":"Change url to json","rules":[{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"aplication/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":260,"wires":[["352e7afc.1324c6"]]},{"id":"47cd78a.7d94b08","type":"http response","z":"e8114728.03a9f8","name":"Print_Json_File","statusCode":"","headers":{"content-type":"application/json"},"x":1880,"y":200,"wires":[]},{"id":"b1c4940.557dc7","type":"comment","z":"e8114728.03a9f8","name":"for testing go http://localhost:1880/user/maria/product","info":"","x":400,"y":360,"wires":[]},{"id":"da268480.a49068","type":"comment","z":"e8114728.03a9f8","name":"calculate desired product","info":"","x":1590,"y":160,"wires":[]},{"id":"8eea7a94.2f7b8","type":"mongodb3 in","z":"4270665.cda4f98","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"User Database","collection":"user","operation":"find.toArray","x":380,"y":420,"wires":[["d927a7db.f05a18","94e38004.2b8d7"]]},{"id":"fa5404fc.c1bf88","type":"mongodb3 in","z":"f30f6888.ef099","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"User Database","collection":"user","operation":"find.toArray","x":380,"y":280,"wires":[["d9967822.8b57"]]},{"id":"6b93e354.733dd4","type":"mongodb3 in","z":"be4d7b92.7c8ab8","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"Pharmacy Database","collection":"pharmacy","operation":"find.toArray","x":400,"y":240,"wires":[["7cefd029.22744"]]},{"id":"c42600eb.4a3b7","type":"mongodb3 in","z":"5949f87.9086208","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"Hospital Dadabase","collection":"hospital","operation":"find.toArray","x":370,"y":220,"wires":[["ad09500.6de4a3"]]},{"id":"26398e94.d1024a","type":"mongodb3 in","z":"6933888e.becf18","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"Clinic Dadabase","collection":"Clinic","operation":"find.toArray","x":280,"y":300,"wires":[["49750c49.137584"]]},{"id":"f394fd8c.2ed5e8","type":"mongodb3 in","z":"a50ae9b3.db2c78","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"Article Dadabase","collection":"article","operation":"find.toArray","x":430,"y":440,"wires":[["4c2a8a7f.2ca32c"]]},{"id":"c51d0f12.b68e1","type":"mongodb3 in","z":"81b6d283.cad1f8","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"Diagnosis Dadabase","collection":"Diagnosis","operation":"find.toArray","x":360,"y":280,"wires":[["40431822.8c329"]]},{"id":"f75a4ad3.d889e","type":"mongodb3 in","z":"f9992a80.e82128","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"Diet Dadabase","collection":"Diet","operation":"find.toArray","x":360,"y":300,"wires":[["29164909.9df76e"]]},{"id":"8ec6d4dd.d988d8","type":"mongodb3 in","z":"847dfe23.00be08","service":"_ext_","configNode":"eb5c44f0.a331e8","name":"","collection":"ClinicAppointments","operation":"insert","x":930,"y":120,"wires":[[]]},{"id":"bc5037c3.aaea4","type":"mongodb3 in","z":"cc1cea02.597c18","service":"_ext_","configNode":"eb5c44f0.a331e8","name":"","collection":"DoctorAppointments","operation":"insert","x":1040,"y":220,"wires":[[]]},{"id":"ce5bc321.491b7","type":"mongodb3 in","z":"cc1cea02.597c18","service":"_ext_","configNode":"eb5c44f0.a331e8","name":"","collection":"Doctor","operation":"find.toArray","x":490,"y":540,"wires":[["c445b1f0.e5665"]]},{"id":"b799bfe6.f2b7f","type":"mongodb3 in","z":"b63e9356.bec038","service":"_ext_","configNode":"e96d5e2e.fd9e3","name":"Doctor Database","collection":"Doctor","operation":"find.toArray","x":570,"y":400,"wires":[["5401f95c.4a5e88"]]},{"id":"bd76be4a.389ab","type":"mongodb3 in","z":"412f96f0.f640f","service":"_ext_","configNode":"eb5c44f0.a331e8","name":"","collection":"user","operation":"insert","x":790,"y":200,"wires":[[]]},{"id":"f2a3fe4f.18bb58","type":"mongodb3 in","z":"14b36864.3f82c","service":"_ext_","configNode":"3569787c.454868","name":"Doctor Database","collection":"Doctor","operation":"find.toArray","x":325,"y":200,"wires":[["302fc2d7.2699be"]]},{"id":"e8124c0a.68cab","type":"mongodb3 in","z":"14b36864.3f82c","service":"_ext_","configNode":"3569787c.454868","name":"Diet Dadabase","collection":"Diet","operation":"find.toArray","x":315,"y":440,"wires":[["1a3714cd.15e91b"]]},{"id":"9b1f8d2a.0f571","type":"mongodb3 in","z":"14b36864.3f82c","service":"_ext_","configNode":"3569787c.454868","name":"Pharmacy Database","collection":"pharmacy","operation":"find.toArray","x":335,"y":360,"wires":[["b47871f4.bb36d"]]},{"id":"bcdf8906.0609b8","type":"mongodb3 in","z":"14b36864.3f82c","service":"_ext_","configNode":"3569787c.454868","name":"Diagnosis Dadabase","collection":"Diagnosis","operation":"find.toArray","x":335,"y":400,"wires":[["c3244d38.e08b08"]]},{"id":"79519d6a.60968c","type":"mongodb3 in","z":"14b36864.3f82c","service":"_ext_","configNode":"3569787c.454868","name":"Clinic Dadabase","collection":"Clinic","operation":"find.toArray","x":315,"y":280,"wires":[["90ebd768.270978"]]},{"id":"4a6b3b31.cb3044","type":"mongodb3 in","z":"14b36864.3f82c","service":"_ext_","configNode":"3569787c.454868","name":"Hospital Dadabase","collection":"hospital","operation":"find.toArray","x":325,"y":320,"wires":[["125269c5.52eba6"]]},{"id":"af3d04cb.9b2928","type":"mongodb3 in","z":"14b36864.3f82c","service":"_ext_","configNode":"3569787c.454868","name":"Article Dadabase","collection":"article","operation":"find.toArray","x":325,"y":240,"wires":[["dc06a59d.0dbdf8"]]},{"id":"a20f9c73.8a8c9","type":"mongodb3 in","z":"e8114728.03a9f8","service":"_ext_","configNode":"62620c13.8f6adc","name":"Products Database","collection":"product","operation":"find.toArray","x":870,"y":260,"wires":[["31acd0d.42995b"]]},{"id":"89920f9a.975de","type":"inject","z":"fbf4ad90.13a6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["57c53e17.d2776"]]},{"id":"57c53e17.d2776","type":"http request","z":"fbf4ad90.13a6b","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/customers","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":120,"wires":[[]]},{"id":"b67b5fc5.e1e6","type":"http in","z":"fbf4ad90.13a6b","name":"","url":"/customers","method":"get","upload":false,"swaggerDoc":"","x":150,"y":240,"wires":[["9007b441.4f3428"]]},{"id":"9007b441.4f3428","type":"mysql","z":"fbf4ad90.13a6b","mydb":"228a40b0.87b65","name":"","x":560,"y":240,"wires":[["497691f8.f302e"]]},{"id":"497691f8.f302e","type":"function","z":"fbf4ad90.13a6b","name":"","func":"msg.topic= \"SELECT * FROM customers\";\nreturn msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":240,"wires":[["148e4f1a.480551"]]},{"id":"148e4f1a.480551","type":"http response","z":"fbf4ad90.13a6b","name":"","statusCode":"","headers":{},"x":1000,"y":260,"wires":[]}]